[2018-05-05 01:00] ChristopherA opened #71 "Create overview of the PQ fork"

[2018-05-07 15:34] ChristopherA opened #1 "Review of First Commit of README.md"
@maaku @tuurdemeester @waynevaughan

I wanted to have something to point to at end of today's twitter [thread](https://twitter.com/ChristopherA/status/993511329146191872), so I have posted a first pass at a document describing #BlockchainCommons, and I have mentioned your names and your background. Could you review it and confirm here if it is ok or if changes are required? Thanks!

[2020-04-13 03:16] ChristopherA opened #2 "ADVOCACY: Need to have sections for other volunteers needed"
Volunteers for our advocacy absolutely needed. And not only coders, but requirements, UI, testing, documentation, fund raising, foundation proposals, law & regulatory review, marketing, graphics, etc.

See also #109

[2020-04-16 01:21] ChristopherA opened #3 "Integrate cooperation vs competition thoughts"
I'm finding I'm having to tell some potential collaborations something along of the lines of

We need to integrate this into how we say what we do.

cc/ @shannona @vinaytaylor

[2020-06-05 18:01] ChristopherA opened #4 "2020 Summer Internship Project: Upgrade LetheKit"
On Fri, Jun 5, 2020 at 7:06 AM @ ksedgwic wrote:

I think the first priority should be:

* The ability to export XPUB as raw text (mostly so you can compare it against your own records, not that you'd write them down from the LetheKit display in this form).
* As QR encoded text (some wallets may already accept this form).
* As QR encoded UR format (as I hope this will be an emerging standard).

I'

[2020-06-06 20:14] ChristopherA opened #5 "2020 Summer Internship Project: Additional Tor Exit Nodes, Support Tor"
Last year Blockchain Commons helped Matt Corallo (@TheBlueMatt) to establish a new, long-term Tor exit node at [NYC Mesh](https://twitter.com/nycmesh).

The was announced last August https://twitter.com/BlockchainComns/status/1161310976030867456:

We'd like to establish two more Tor exit nodes, one internet topologically near Asia, and then one as topologically far from both as possible (South Afr

[2020-06-06 20:32] ChristopherA opened #6 "2020 Summer Internship Project: Bitcoin Price & History Data"
To fully function as a mainnet Bitcoin mobile wallet, FullyNoded 2 needs to have price data. Right now this means we've had to turn off locking the wallet down to only speak to hidden .onion addresses, as there doesn't appear to be any free APIs for price data.

In addition, we'd like to users being able to support adding price data history to your transactional data in your personal wallet. For i

[2020-06-06 21:43] ChristopherA opened #7 "2020 Summer Internship Project: Lightning Support for Bitcoin Standup"
Several interns were interested in adding Lightning to Bitcoin Standup, and ultimately to FullyNoded 1 & FullyNoded 2. There was also interest by one intern in possibly some limited FullyNoded 1 like functionality to BitcoinStandup for Android, which could be a start toward a Fully Noded 2 for Android as well.

The biggest problem with this project is that it is too big and insufficient scoped to

[2020-06-06 22:14] ChristopherA opened #8 "2020 Summer Internship Project: Bitcoin Standup Linux/VPS/Windows Script Improvements"
Currently the linux scripts for [Bitcoin Standup Scripts](https://github.com/BlockchainCommons/Bitcoin-Standup-Scripts) are fairly simple, and establish just a single node.

This script was originally based on the script in  [Learning Bitcoin from the Command Line](https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line) as I found it very inexpensive and easy for a novice to i

[2020-06-07 00:46] gg2001 commented on #6
This library seems useful for this project: https://github.com/ccxt/ccxt

To reduce the time it takes to retrieve the price, the ideal approach would be to have the backend of the hidden service connect to an exchange via a Websocket API. However, I can't seem to find a free Websocket pricing API.

I also have experience hosting hidden services, so I can help with this project.

[2020-06-07 00:54] ChristopherA commented on #6
@Fonta1n3 What price feed are we using now? What others have we investigated and we can't use because of API or other limitations?

Also, if we do our own API, any thoughts on your preferences? We already are doing some connections with https://blockstream.info via their .onion service — I know that they said they may offer it someday (Blockstream has the data, but they may be restricted in sharin

[2020-06-07 01:24] Fonta1n3 commented on #6
Unfortunately we are using blockchain.info/ticker currently. We were using blockchair.com/api but quickly found it is not free.

[2020-06-08 00:03] chiselinc commented on #8
As per our discussion @ChristopherA , I'm "splitting out" the task of "release scripts to work standalone for Windows" into its own designated issue, and claiming "point person" for that deliverable.

I feel confident enough poking around existing scripts, and whether I like it or not, some of my grad work has required me to commit in-depth to Windows literacy. I'll still always fall back to Linux

[2020-06-08 00:08] chiselinc opened #9 "2020 Summer Internship Project: Adapt Bitcoin Standup Script for Windows"
I'm volunteering to take lead on adapting the Linux scripts for Bitcoin Standup into a single script which allows for standalone installation on Windows.

Per discussion with Christopher, the current process on windows requires the user to install developer tools manually, setup Homebrew, and then download the script from Blockchain Commons.

We'd like to enable a easier/less technical workflow to

[2020-06-08 00:11] chiselinc commented on #9
I don't appear to have sufficient write access for this repo to apply labels, but I had intended to set this as "intern project" and "status: scoping" 😸

[2020-06-08 00:36] gg2001 commented on #8
Linode has [block storage](https://www.linode.com/products/block-storage/) which can be attached to a linode. 320GiB costs $32/month and 640GiB costs $64/month ($0.10/GiB per month). Using 640GiB attached to a 4GB RAM VM would cost $84 a month. DigitalOcean also has block storage at a similar price.

OVH seems to have cheaper options: [VPS](https://us.ovhcloud.com/)/[block storage](https://us.ovhc

[2020-06-08 00:56] gorazdko commented on #4
I'll take the lead for this project.

## Abstract

Export extended public keys, seed and shamir shards in different formats.

## Status

WIP:

* open for suggestions
* specify weekly deliverables

## Tasks

* read relevant parts of documentation: BIP32, BIP44, BIP84, slip132, slip39, BC spec on UR format

* Find corresponding well vetted open source libraries (bip32, embedded-systems friendly) and

[2020-06-08 01:45] ChristopherA commented on #4
@gorazdko wrote:

Great!

I presume the target is the current LetheKit? Are you able to build this yourself or do we need to send you one?

I would suggest start with 2 or 3 critical milestones, with the last one including a wrap up details, document, and publicize the additions to LetheKit.

@wolfmcnally has been working on defining CBOR targets for the various binary objects that we would then e

[2020-06-08 02:00] ChristopherA commented on #9
I've added you.

[2020-06-08 02:09] ChristopherA commented on #9
I think I'd probably divide it a little different. See if this helps.

* Scope requirements
  * Scripting environment: What are people using when installing the Windows version of Bitcoin-Core?What development scripting tools are Windows-based bitcoin developers preferring to use? I know that there are multiple choices here.
  * Pick a scripting environment that can help automate the install of Bi

[2020-06-08 06:01] gg2001 commented on #6
I'm volunteering to lead the Bitcoin price data project.

## Proposal

First, build a Flask REST API that returns the current price of Bitcoin, along with historical price data. The API would be accessible as a .onion v3 hidden service.

- `GET /usd/now` returns the current Bitcoin USD price
- `GET /usd/date/<year>-<month>-<date>-<hour>-<minute>-<second>` returns the Bitcoin USD price at a specifi

[2020-06-08 08:55] ChristopherA commented on #6
I would suggest separating out this into separate  sub-projects.

* First is to implement the core API and storage of data, and a simple curl or other cli terminal command to request it. This has no dependencies on anyone else.
* Next is how does the tool scrape and validate the data, and maybe some signed checkpoints that you can download from various places. This also has no dependencies.
* Writ

[2020-06-08 10:11] javiervargas commented on #7
**Proposal**

Research and document about Lightning Network's c-lightning and LND implementations taking into account the focus of the [Learning Bitcoin (and Lightning) from the Command Line](https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line) course and the focus of new developments. The research will delve into topics such as the ease of backups, the use of WatchTowers,

[2020-06-08 18:35] jodobear commented on #8
## Proposal

### Tasks

1. Improve Standup Script with best practices inspired by [BTCPay Server](https://docs.btcpayserver.org/ManualDeploymentExtended/).
2. Add pruned node setup options.
3. Add options to get deployment environment to make it deployable on VPS/Desktop/RPi with one script.
4. Add LND script with RTL(for node management) and then add option for c-lightning (It would be better to

[2020-06-08 18:37] jodobear commented on #7
BTCPay uses pruned node by default. It needs to be at least 3 months (~25GB) for lightning to work. I think we can very well incorporate functioning lightning with standup scripts and pruned node.

[2020-06-08 19:47] watersnake1 commented on #7
@javiervargas I think I'd be pretty helpful on this project as well. It looks like we'll need to do the following during the setup to add support for lightning:

Prompt user for their choice of C-lightning or LND
Check if the dependencies of the selected implementation are present on the system
Install any missing dependencies
Download lightning
Compile and install lightning
Configure proxy at loc

[2020-06-08 19:55] jodobear commented on #8
Additionally, scope how to incorporate BitcoinFiber for faster sync between nodes and Blockstream Sattelite for hosting multiple networks.

[2020-06-08 19:59] ChristopherA commented on #7
I'd like to see the 2nd version of a Lighting script also support MacOS directly (i.e. not use our MacOS app), and may work for older Macs) as it is very close to Linux. There is something called `osascript` on the Mac wish can display simple dialogues and simple selection.

[code]

-- Christopher Allen

[2020-06-08 20:12] watersnake1 commented on #6
I'd like to offer my help on this project - I have experience with flask, python generally, and data mining. I don't have a mac so can't do any of the FN2 related stuff but could certainly be helpful with the API.

Here is a websocket service that aggregates data from several exchanges: https://docs.cryptoapis.io/websockets/index#websockets
It requires a key and limits the number of new connection

[2020-06-08 20:38] ChristopherA commented on #8
BTW, to be clear, Blockchain Commons is willing to pay for full hosting. In fact, I'd like to eventually also offer full Esplora (aka Blockstream.info). I just want to allow others to be able to follow us by offering redundant services more cheaply.

Another point of interest. Every time someone uses my Bitcoin course and sets up a Linode to give it a try, we get a $10 credit. So I have a bunch of

[2020-06-08 20:40] ChristopherA commented on #8
Good question.

I know that we already use Esplora via Blockstream.info, and it is probably good for us to host an Esplora instance of our own.

Maybe a survey of each of these requirements? Also how stable are they? So far our scripts for self-hosting and our devops are an all volunteer group, so we have to consider ongoing support costs.

-- Christopher Allen

[2020-06-08 20:43] ChristopherA commented on #7
@Fonta1n3 What feedback do we already have from other parties using QuickConnect?

Do you have GitHub handles for our primary contacts for each of those people who implemented it on their platform? Can you /cc them on this issue so we can define additional QuickConect requirements?

-- Christopher Allen

[2020-06-08 22:10] gorazdko commented on #4
I will build it myself. I have ordered the parts and should come any day now.

I agree with your points and have subscribed to relevant projects.

i have updated my [scoping post with status, tasks and milestones](https://github.com/BlockchainCommons/BlockchainCommonsCommunity/issues/4#issuecomment-640308548)

[2020-06-09 01:36] Fonta1n3 commented on #7
Everyone seems to be happy with it, “no news is good news”.

LND already has LNDConnect so I would suggest just using that for LND.

Afaik C-Lightning can work with QuickConnect as is. What additional params would be needed?

You can add as many optional params as you’d like to QuickConnect, if http auth is not required the client can simply omit them or they can be passed as empty strings. Its re

[2020-06-09 09:56] gg2001 commented on #6
@watersnake1 Cool, I think we can split this project into 2 parts, the API and FN2.

You can work on the API and I can work on integrating it with FN2. I have experience in hosting .onions so I can help with writing a setup script for running the API behind a hidden service.

[2020-06-09 15:57] watersnake1 commented on #6
Great. It looks like the cctx library you mentioned is a great starting point.

## FN2-API Proposal

### Summary
Create a local web server that provides API access to bitcoin price data across many exchanges. Store selected in a local db for quicker access. Once running, the server can be accessed locally or remotely (i.e. FN2) to provide updated price information for btc and historical price data

[2020-06-09 17:47] jodobear commented on #6
This is perfect, once we have this running we can add this service to the Standup Script.

[2020-06-09 18:13] cprkrn commented on #6
You certainly have the technical prowess to take lead on this! Need to do a little research on some of the technologies you mentioned to have proper input, but here to help in any way. Have previous experience w/ python + sql.

[2020-06-09 19:56] ChristopherA commented on #6
Ok, it looks like we are pretty close to a plan. We have two leads, @watersnake1 for a new repo for the service, @jodobear for a feature branch to FN2. Additional support and review of API from @cprkrn, @Fonta1n3 and myself, and @cprkrn also as a key tester.

@Fonta1n3 in particular should review the API proposals above and tasks and give a +1.

What we need now are ~3 reasonable top-level milesto

[2020-06-09 23:44] jodobear commented on #6
FN2 is written in Swift, i have never written Swift so, how do i contribute?

[2020-06-09 23:56] gg2001 commented on #6
@ChristopherA @jodobear I have experience with Swift, I can work on a feature branch for FN2.

[2020-06-10 01:22] jodobear commented on #8
Esplora needs 440GB after compaction (~1TB while indexing) and 270GB at 620k block height in `--lightmode`,

[2020-06-10 03:26] Fonta1n3 commented on #6
I would put it on the wishlist that this returns an average price over a certain time period (30 mins for example) from an array of exchanges and is not just limited to USD but includes all major currencies in the response, sorted by ticker. That way we can easily support many fx rates.

You can see it [here](https://github.com/BlockchainCommons/FullyNoded-2/blob/development/XCode/FullyNoded2/Help

[2020-06-10 11:24] gg2001 commented on #6
## FN2 Branch Proposal

- First add a setting that allows a user to enter what API server they want to access, and save it locally on the device (core data)
- Then, detect the users locale, based on Locale.current at startup to choose which fiat currency to request
- Possibly create a setting to override the Locale.current defaults to a fiat currency of the users choice

- Once the API is ready, c

[2020-06-10 23:19] shannona opened #10 "2020 Summer Internship Project: Writing Coding in Different Languages for LBTCftCL"
We are looking to fill out Chapter 18 of [Learning Bitcoin from the Command Line](https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line) by offering up six short sections which each describe how to command `bitcoind` via RPC with a popular programming language.

We have six options:

* Go (unwritten)
* Java (needs [revision & standardization](https://github.com/BlockchainComm

[2020-06-10 23:32] jodobear commented on #8
@ChristopherA I can get on top of this and would like to volunteer to lead on the Standup scripts for Linux.

Currently both Linode & Linux Standup scripts are pretty much the same which can be merged and tested.

We need better documentation of our environment variables for better configurability, relevant additions, add flags especially `--help`

Until we figure out hosting pre-signed data, I pr

[2020-06-10 23:43] shannona opened #11 "2020 Summer Internship Project: Updating & Writing C Code for LBTCftCL"
Someone particularly comfortable with bare C programming could update and complete the sections on C code in Learning Bitcoin from the Command Line.

This comes in four parts that need to be done in order, but the project could be handed back after completing either part 1, part 2, part 3, or part 4.

1. Edit existing [15.0](https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Li

[2020-06-10 23:47] shannona opened #12 "2020 Summer Internship Project: Document Compiling Bitcoin Core for LBTCftCL"
Write Appendix I, "Compiling Bitcoin", for [Learning Bitcoin from the Command Line](https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line/blob/master/README.md).

Use a Debian 10 machine, install the full development environment required to compile Bitcoin, pull 0.20 from the GitHub, and compile it.

Document and explain all the steps.

[2020-06-10 23:55] jodobear commented on #10
@shannona I can take the lead to complete the Python section.

[2020-06-11 00:07] jodobear commented on #12
@shannona I will try to finish it this weeked.

[2020-06-11 00:36] gg2001 commented on #10
I can lead the completion of the NodeJS section. I can also help out with the Golang section.

[2020-06-11 01:08] shannona commented on #12
Great. Feel free to submit it as a PR to the Learning Bitcoin repo and tag me. My schedule is a little irregular, especially next week, so don't worry if it takes me a few to several days to respond.

[2020-06-11 01:10] shannona commented on #10
Great. Tag me when you have a section complete & submit a PR. It'll sometimes take me a few days to get back. I'll offer some comments in the short-term, and will then do a full polish way down the road when I complete the big upgrade of the rest of the book.

Looking forward to seeing the material!

[2020-06-11 03:31] Fonta1n3 commented on #8
This should certainly be number 1 priority.
Number two priority should be:
- align the scripts with Standup.app MacOS. As of the latest update there was a major change to how we create hidden services, we now create a seperate HS for all three `rpcports` so a user can run all three simultaneously and connect to all three remotely via independent HS. See the macos linux script [here](https://github

[2020-06-11 05:55] fakhrulKhir commented on #5
I am volunteering for this project.

### Proposed Milestones
1. Get the paperwork finish and pull details from dependacies (@TheBlueMatt and @mwoodcock/.
2.  Submit the application for ASN.
3. Get the scripts ready for Tor exit node deployment with testing.
4. Docker container template for future .onion hidden service.

### Tasks
1. Communicate with @TheBlueMatt to get the relevant details about S

[2020-06-11 10:17] gg2001 commented on #10
Sure, I'll be submitting a PR soon for the Node.js section.

The usage code in the README for [bcrpc](https://github.com/dgarage/bcrpc) didn't work so I fixed it and submitted a PR. This is my bcrpc fork with the fix: [https://github.com/gg2001/bcrpc](https://github.com/gg2001/bcrpc).

[2020-06-12 01:04] watersnake1 commented on #6
Here is my first attempt at a design spec for the api server. This version should focus on using existing libraries or plain GET requests to obtain data. Then, support for websockets should be added. The server should run in the background as a system service.

### FN-Server Design Spec
Language: Python3
Major Dependencies: Flask, Sqlite3
FN-Server shall run in the background and act as a local AP

[2020-06-12 12:46] javiervargas commented on #10
I can lead the completion of the Java section.

[2020-06-14 13:54] javiervargas commented on #10
@shannona Take a look.   I'm deepening in  Create a transaction section.
https://github.com/javiervargas/Accesing_Bitcoind_with_Java/blob/master/18_2_Accessing_Bitcoind_with_Java.md

[2020-06-14 19:03] jodobear commented on #8
Meaning modify how we create HS for linux accordingly? If so, sure!

Agreed and yes it will be optional. Infact, the way I plan to implement it is only bitcoind will be the base installation, everything else will be optional based on user preference.

I have never worked with c-lightning, and this will be a great motivation for me to learn how to c-lightning. Since, LND is very easy, i will start

[2020-06-14 22:46] gg2001 commented on #6
## Internship milestones

1. [Write Node.js and Go sections for LBTCftCL](https://github.com/BlockchainCommons/BlockchainCommonsCommunity/issues/10#issuecomment-642553293)
2. [FN2 features proposal](https://github.com/BlockchainCommons/BlockchainCommonsCommunity/issues/6#issuecomment-641938548)
    - First add a setting that allows a user to enter what API server they want to access, and save it l

[2020-06-14 23:20] ChristopherA commented on #6
This looks a good start.

It mostly lacks some rough completion dates, and connecting those dates with some dependences (milestone 2 is dependent on some version of the API server being available, and 2nd part of milestone 3 that that code ready to be installable by itself, or possibly using some BitcoinStandup plugin method.)

-- Christopher Allen

[2020-06-14 23:27] ChristopherA commented on #6
BTW, an archive of some details on what I learned about using Beancount for Bitcoin Accounting:

This feature on a per Bitcoin account in FN2 I think would be an incredibly useful tool for someone trying to "do the right thing" with bitcoin accounting. It uses the "brew install beancount" command-line ledger system.

The following file would be available in each FN2 account, created from the trans

[2020-06-14 23:35] ChristopherA commented on #8
Yes, it is unlikely our typical BitcoinStandup VPS users will want to do Esplora, but I know we will want to do our own as it is needed for some future things like BTCR.

Knots has the lowest priority, but I'd love to be able demonstrate that we can, and get @Luke-jr's endorsement.

Signet is potential much more useful for us, as I have concerns about FN2 performing well under adversarial conditio

[2020-06-14 23:48] ChristopherA commented on #5
@fakhrulKhir This looks great, but really should be divided up into at least 3 key milestones, with rough dates, and any dependencies on others.

[2020-06-14 23:52] ChristopherA commented on #5
Note that I gave @TheBlueMatt 3 swamp Cs /24s, called "swamp" as these /24s are routable individually. The first of which is used for our first Tor exit node. He agreed to return the other two when we needed them. So I don't think we'll need a new /23.

I'm unclear if we need a new ASN or if we can give my old ASN to Blockchain Commons. Rules have changed since I last did this.

-- Christopher All

[2020-06-14 23:52] jodobear commented on #8
I like this idea, will be done! :grin:

[2020-06-15 00:32] gg2001 commented on #6
@ChristopherA thanks for the info about beancount, I'll be looking into how to design the exporting feature soon.

I've also added rough completion dates along with dependencies for each milestone (the dates are an upper bound).

[2020-06-15 00:53] TheBlueMatt commented on #5
Depends on how you want to do it - if you are running it on PCH's infrastructure, probably you can just use their IPs if they're OK with it (I presume that would turn into many nodes, not just one, since they have many PoPs, and it would seem a waste to route a whole /24 to just one of their PoPs for just one node). If you are looking at Colo, I'd suggest doing your research, since many Colo sites

[2020-06-15 01:00] TheBlueMatt commented on #5
Also, if you're looking at hosting this in Malaysia, you should definitely look at the current legal status of Tor exit nodes in Malaysia before you set anything up.

[2020-06-15 01:02] ChristopherA commented on #6
@gg2001 Looks good.

Here is some example text toward a signed work order:

----

This is a **Work Order** under the most recently released version of `Open Development Intern Contract` published at https://github.com/BlockchainCommons/Open-Development/tree/master/internship-contract.

**Blockchain Commons** and **Intern** agree:

# Start Date

2020-06-15

# End Date

2020-08-21
# Repositories

[l

[2020-06-15 04:01] ChristopherA commented on #5
Thank you, @TheBlueMatt for your comments.

Yes, if we can get IP addresses for a Tor Exit from @Packet-Clearing-House via Bill Woodcock @mwoodcock that would be great. I'm not sure their level of commitment, so instead we may only be able to leverage their peering capabilities to make sure that the Tor Exit less expensively routes out.

Yes, definitely. We are not just seeking multiple Tor exit n

[2020-06-15 20:47] cprkrn commented on #10
Can help here.

[2020-06-16 18:05] shannona commented on #10
@javiervargas So you inherited a previously written section that could use your work. Definitely feel free to revise what's there as much as you see fit.

Here's some ways you could clean up the previous sections that you inherited:

1. I'm a bit confused at Maven vs gradle, and this might just be my personal inexperience with Java. But we show the package installation for Maven, and then it looks

[2020-06-16 18:07] shannona commented on #10
So far I've heard:

Go @gg2001
Java @javiervargas
NodeJS @gg2001
Python @jodobear [help from @cprkrn ? ; you two should discuss]
Rust (unwritten)
Swift (unwritten)

Thanks folks!

[2020-06-17 01:10] TheBlueMatt commented on #5
I may be wrong, but I don't believe PCH is one global network, but instead hundreds of islands. Sure, hosting it at PCH in Amsterdam (or Frankfurt, but legal issues around Tor exits in .de probably prevent that) may have pretty good coverage from peering routes, but AMS-IX isn't perfect by itself. Still, they may get transit donated, so they may not care.

Depends on how YOLO you want to get with

[2020-06-17 02:36] jodobear commented on #10
Cool! I've already starrted writing it, will share and let's take it from there

[2020-06-17 06:18] ChristopherA commented on #5
@TheBlueMatt — Wow,  that tip was very helpful. And it does look onion balance has added v3 support: https://onionbalance.readthedocs.io/en/latest/v3/tutorial-v3.html#tutorial-v3

You are correct, I've conflating the requirements of the two (or more) projects. Especially given your onion balance suggestion, we can try to have greater security in one place, and be less rigorous in the others. But i

[2020-06-17 06:20] ChristopherA commented on #6
See discussion about onionbalance, my conflating requirements of different hosted projects, and a need for understanding risk models in https://github.com/BlockchainCommons/BlockchainCommonsCommunity/issues/5#issuecomment-645175642

-- Christopher Allen

[2020-06-17 12:18] javiervargas commented on #10
1.  In that case I should create a maven project and show results and outputs.  You're right,  I understand gradle it's an alternative.
2. OK,
3.  Same as case 1,  I'll create methods for lookup an address and create a raw.
4. I'll try to connect create and send tx and show output.   Hope have it this weekend.

[2020-06-18 00:28] NicolasDorier commented on #6
BTCPay is actually integrating with many exchanges and has its own rating script DSL.  (Where you can define more complex rules of calculation)
For example:
[code]
means that every pair will use bitflyer
[code]
Mean that usd will use coinbase and any pair with JPY will use bitflyer. Then you can compose it.

[code]

which mean the LTC_USD pair will use `kraken(LTC_BTC) * coinbase(BTC_USD)`.

We al

[2020-06-18 01:16] ChristopherA commented on #6
@NicolasDorier — thank you for that information!

Any chance that you'd be willing to make that public endpoint also available at a Tor v3 hidden service, the way blockstream.info also has a hidden service version?

-- Christopher Allen

[2020-06-18 01:17] ChristopherA commented on #6
@NicolasDorier, we are also investigating using Onion Balance so that we can host anycast-like services from multiple places around the world.  This might be something of interest to your community as well.

https://onionbalance.readthedocs.io/en/latest/v3/tutorial-v3.html#tutorial-v3

[2020-06-18 01:23] ChristopherA commented on #6
So that it is easier to follow the conversation in this thread, here is an excerpt from another threat that should be here: https://github.com/BlockchainCommons/BlockchainCommonsCommunity/issues/5

---

You are correct, I've conflating the requirements of the two (or more) projects. Especially given your onion balance suggestion, we can try to have greater security in one place, and be less rigoro

[2020-06-18 01:33] NicolasDorier commented on #6
@ChristopherA all btcpay installs (via the docker install method) come  with a hidden service properly set up and accessible via onion.

[2020-06-18 05:00] ChristopherA commented on #6
@NicolasDorier wrote:

What I meant was a hidden service for your:

[2020-06-18 05:57] ChristopherA commented on #6
@slush0 wrote in a telegram group:

I’ve asked if there is an onion feed.

[2020-06-18 09:53] NicolasDorier commented on #6
Our https://mainnet.demo.btcpayserver.org/ that you can access to http://fc4booz5wmoq3knc63gf4sn7oisz45sc7zxtlgnqkeqb2pvzqow6ydqd.onion/ support it.

This is our demo server, so everybody installing BTCPay has their own service as well.
You need to create a store and then hit `/api/rates?storeId=yourStoreId` to get the rates you chose.

[2020-06-19 20:39] javiervargas commented on #10
I've add more code and outputs to sections and  completed others.    Take a look and tell me if it's ready to merge.

https://github.com/javiervargas/Accesing_Bitcoind_with_Java/blob/master/18_2_Accessing_Bitcoind_with_Java.md

[2020-06-19 20:39] javiervargas commented on #10
@shannona  I've add more code and outputs to sections and completed others. Take a look and tell me if it's ready to merge.

https://github.com/javiervargas/Accesing_Bitcoind_with_Java/blob/master/18_2_Accessing_Bitcoind_with_Java.md

[2020-06-19 21:37] javiervargas commented on #7
Lnd team confirms that Pruning is not fully supported by lnd. You need to make sure you prune only back to the first mainnet channel. When node try syncing the graph you'll run with issues because it cannot find the blocks of all channels. Maybe you could try --asumechanvalid to skip the verification but it not recommended for safety reasons as well and it will cause lnd run slowly.

[2020-06-19 21:41] shannona commented on #10
Looks great. I have one request:

You "List<String> generatedBlocksHashes = rpcClient.generateToAddress(110, addr1);" but don't really explain what that's doing. If you can add some explanation of that, I think this is ready to PR.

Thanks!

[2020-06-19 21:41] ChristopherA commented on #7
BTW, this is one of the reasons why our emerging specifications for seeds and recovery all optionally support birthdate, so that you can know when to prune to.

-- Christopher Allen

[2020-06-19 21:42] shannona commented on #12
This is completed and merged. Thanks, @jodobear

[2020-06-19 21:42] #12 closed

[2020-06-19 22:05] javiervargas commented on #10
Great!!

Ok,  I’ll check it and add it.

[2020-06-20 14:49] watersnake1 commented on #6
In regards to the local database, I think sqlite3 is a good option. It is an easy to use / integrate db thats pretty lightweight. Although it is not the best choice for use as a webserver, I think that it is a safe assumption that most server instances anyone runs will not be used by more than a few people (and probably just one person a lot of the time). Does anyone have any other db suggestions,

[2020-06-23 17:51] shannona commented on #10
Thanks, @javiervargas I've merged the Java content. Is "Javier Vargas" the correct credit for you?

[2020-06-23 17:59] shannona commented on #10
And thanks to @jodobear I've merged in the Python section.

[2020-06-23 18:04] javiervargas commented on #10
It's Ok!,  thanks!.

[2020-06-24 01:42] shannona commented on #10
A Note for is someone picks up the SWIFT section: we should consider basing it on (or referencing) the code in FullyNoded2.

[2020-06-24 01:43] shannona commented on #11
Javier is currently cleaning up the early sections (per #1) and looking at the best way to teach notifications (per #2). (Thank you!)

[2020-06-24 11:43] javiervargas commented on #11
@shannona I've added PR for 15.1 and 15.2.

[2020-06-24 15:37] javiervargas commented on #8
When i installed standup.sh for using FullyNoded2 with my own mainnet node I don't needed perform IBD,  so in addition to the first option to install all stuff (including two steps for c-lightning),

[code]

I think it is a good idea to give the user different options depending on their situation. Perhaps creating a menu that calls different functions and executes the pre-checks is an ideal approa

[2020-06-24 16:53] jodobear commented on #8
@javiervargas Would this require displaying the main menu repeatedly to install each service/item?

Here's how i'm thinking to implement the structure:

## UX

1. Display `default installation` info and give option for that or `configure install`
2. If `default` then install.
3. Else give one by one options for:
   1. Tor
   2. SSH
   3. Bitcoin - `version` (core, knots, signet), `chain`, `prune`,

[2020-06-24 18:33] javiervargas commented on #8
@jodobear Not exactly, the menu is in a do while cycle that you can interrupt at any time with ctrl-c.

[2020-06-24 21:28] jodobear commented on #8
Ok, I'm currently deconstructing it, laying down best practices and putting the variables in place. I'll probably push a basic structure by this weekend and we can take it from there

[2020-06-25 04:17] gg2001 commented on #10
@shannona I've completed the [JavaScript section](https://github.com/gg2001/Learning-Bitcoin-from-the-Command-Line/blob/master/18_3_Accessing_Bitcoind_with_NodeJS.md) and I'm almost done with the [Go section](https://github.com/gg2001/Learning-Bitcoin-from-the-Command-Line/blob/master/18_1_Accessing_Bitcoind_with_Go.md). I've submitted a [pull request](https://github.com/BlockchainCommons/Learning

[2020-06-26 01:14] watersnake1 commented on #6
## fn-server spec (draft 2, final for milestone 1)
This is my final version of the spec for this project. I will use this as my reference when implementing during milestone 2.
Language: Python3
Major Dependencies: Flask, Sqlite3, cctx, Celery
FN-Server shall run in the background and act as an API service that can be queried to obtain price information. FN-Server will use GET requests to obtain Bi

[2020-06-26 01:17] shannona commented on #10
@gg2001, terrific, this was a very pleasant surprise!

I've looked it over and offered a general style suggestion that I think could help polish this up and make it an improved teaching piece.

[2020-06-26 13:14] gorazdko commented on #10
I'll write this.

[2020-06-26 15:08] javiervargas commented on #11
@shannona  Added 15.3

[2020-06-26 15:09] javiervargas commented on #10
@shannona I've completed last C section and I've submitted a PR.

[2020-06-30 18:30] shannona commented on #10
Hey Folks,

Thanks for all the great work on this. Here's the current status:

*Go:* Drafted by @gg2001, revisions requested
*Java:* Updated by @javiervargas (DONE)
*NodeJS:* Drafted by @gg2001, revisions requested
*Python:* Written by @jodobear (DONE)
*Rust:* Written by @gorazdko (DONE)
*Swift:* Unwritten, but @Fonta1n3 has provided a basis at [Issue #137](https://github.com/BlockchainCommons/Lea

[2020-06-30 18:33] shannona commented on #11
This is coming along nicely, thanks @javiervargas

[2020-07-01 00:27] watersnake1 commented on #7
Since @jodobear has already moved forward on implementing for btc standup lightning, I will not be doing the same according to the above list and instead focusing on the price server for now. Am still very interested in lending a hand on this project if it is needed!

[2020-07-01 05:14] gg2001 commented on #10
@shannona I just made some [revisions](https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line/pull/136#issuecomment-652195403) to the Go and NodeJS sections.

[2020-07-06 15:07] jodobear commented on #8
I've merged the scripts, added help, documentation, checks for each step and installing bitcoin from onion site:

[ss.sh](https://github.com/jodobear/Bitcoin-Standup-Scripts/blob/jodobear/Scripts/ss.sh)

It's tested on Debian 10 VM. Everything works and is setup properly.

 Still need to test on VPS, don't have access at the moment.

Please provide feedback if i can do it better or making any mist

[2020-07-17 20:33] ChristopherA opened #16 "Updating #SmartCustody website"
We have a separate static web site for our #SmartCustody project, as its audience & patrons are a bit different than the broader Blockchain Commons audience & patrons.

* Website: https://www.SmartCustody.com
* Github Repo: https://github.com/BlockchainCommons/www.SmartCustody.com

We are currently leveraging the native GitHub static website features of [Jekyll](https://jekyllrb.com) [remote](http

[2020-07-17 20:35] ChristopherA commented on #16
/cc @shannona Could you look through the #SmartCustody website and list more todo items here? You don't need to fix, focus on capture of tasks. Feel free to directly edit the list in the comment above.

[2020-07-23 17:14] cprkrn commented on #16
Is there any strong arguments against using the ones suggested by Github? Personally, I like [Architect](https://pages-themes.github.io/architect/), both PDFs would fit nicely on the sidebar.

[2020-07-28 23:49] ChristopherA commented on #16
The default themes from Github in general are fairly limiting, and there are some much better remote-theme capable themes.

[2020-08-26 18:05] ChristopherA opened #17 "Fall 2020 Cohort of Internship Program"
Post here if you have questions or are interested in participating in the fall 2020 cohort of the @BlockchainCommons 2nd cohort of our virtual internship program. Email [me](mailto:ChristopherA@LifeWithAlacrity.com) your CV, some highlights of some of the things you like to work on, and what you’d like to get out of an internship with Us. Also what platforms you develop on, and what kind of smart

[2020-08-26 21:33] kouloumos commented on #17
I am really interested in participating in the fall 2020 cohort. **I am super excited actually!**

[2020-08-27 01:00] ChristopherA commented on #17
@kouloumos wrote:

Send me your CV to ChristopherA@LifeWithAlacrity.com, and highlights from it of some of the things you like to work on (backend code, UX, hardware, cryptographic research, privacy, standards, decentralized identity, open source community development, digital assets or privacy law, etc.) and some specifics of what you’d like to get out of an internship with Blockchain Commons. Al

[2020-08-29 01:10] prayank23 commented on #17
I am interested, will send my CV today.

[2020-08-30 20:43] ChristopherA commented on #17
These are some of the questions that I have asked as followups to potential interns that have send me CVs so far. If you answer then in your cover letter, it can save a latency cycle ;-)

(Also note that these questions are more focused toward developers, but I'm hoping to get some interns in law, library science, and education as well, and they likely would have different followup questions).

*

[2020-10-22 01:33] watersnake1 opened #22 "Document roadmap for Spotbit"
# Todo
- [x] Make Q2 and Summer Virtual Internship plan for features to be added:
- [x] Document which issues have already been solved by the 2022 refactor.

# A summary of changes made in the 2022 refactor:
- See https://github.com/BlockchainCommons/spotbit/pull/55 for details on the refactor.
- Spotbit no longer stores an offline database. Instead, we prefer to fetch data from exchange APIs on d

[2020-11-03 23:37] shannona commented on #1
Closing out old issues. We've gone a few iterations beyond this.

[2020-11-03 23:40] shannona commented on #10
We've got this fully completed as Chapter 17 (https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line/blob/master/17_0_Talking_to_Bitcoind_Other.md), which has been released under v2.0 of Learning Bitcoin.

Thanks for all intern updates to Learning Bitcoin: [gg2001](https://github.com/gg2001) (Go, Node.js sections), [gorazdko](https://github.com/gorazdko) (Rust section), [Javie

[2020-11-03 23:40] #10 closed

[2020-11-03 23:42] shannona commented on #11
Thanks to Javier for working through this with me. His work is now available as [Chapter 15: Talking to Bitcoind with C](https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line/blob/master/15_0_Talking_to_Bitcoind.md). I then followed that up with [Chapter 16: Programming with Libwally](https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line/blob/master/16_0

[2020-11-03 23:42] #11 closed

[2020-11-03 23:42] #1 closed

[2020-11-03 23:43] shannona commented on #3
We've gone a few iterations beyond this in our messaging, so I'm closing this out.

[2020-11-03 23:43] #3 closed

[2020-11-03 23:47] shannona commented on #4
Closing out summer, 2020 Issues. Thanks to @gorazdko for support in LetheKit, keytool, seedtool, and other projects! We recently announced our [Feature-Kit LetheKit release](https://www.blockchaincommons.com/projects/Releasing-LetheKit/).

[2020-11-03 23:47] #4 closed

[2020-11-03 23:49] shannona commented on #5
I'm not sure of the final status of this project, but I'm closing it out as a Summer 2020 project.

[2020-11-03 23:49] #5 closed

[2020-11-03 23:52] shannona commented on #6
Thanks to @watersnake1 with support from @jodobear and @javiervargas, we now have [spotbit](https://github.com/BlockchainCommons/spotbit), an amazing bit of progress for a mere summer's work. Thanks folks!

[2020-11-03 23:52] #6 closed

[2020-11-03 23:54] shannona commented on #7
I'm closing out Summer 2020 issues.

There has been great progress on this, and we've got Lightning and a few other things on the verge of release in our Bitcoin Standup Scripts. See [Scripts PR 15](https://github.com/BlockchainCommons/Bitcoin-Standup-Scripts/pull/15).

[2020-11-03 23:54] #7 closed

[2020-11-04 00:05] shannona commented on #8
Closing out summer 2020 issues. Thanks to @jodobear for work on the Standup Scripts!

[2020-11-04 00:05] #8 closed

[2020-11-04 00:06] shannona commented on #9
Closing out summer 2020 issues.

[2020-11-04 00:06] #9 closed

[2020-11-04 00:07] shannona commented on #16
I think this needs to be rescoped, as we've somewhat replaced the #SC site with our new projects page, and likely need to rebuild the #SC site as something more book-focused. So, let's open a new issue or add some TODO items when we decide what we want to do there.

[2020-11-04 00:07] #16 closed

[2020-11-04 00:08] shannona commented on #22
Thank you for a terrific project, @watersnake1 . Closing this out, as spotbit has the individual issues that need to be followed. We should be sure to consider issues on individual repos when looking into future projects (as well as closed issues here).

[2020-11-11 00:25] shannona opened #24 "GitHub Sponsor Listing"
We've got a listing of "Additional Sponsors" who have sponsored Blockchain Commons through the "Sponsor" page. It's here: https://www.blockchaincommons.com/sponsors.html

It'd be nice if that was automated, and even nicer if it was attractively laid out with GitHub user names and icons.

Here's an example of someone who's done that:
https://karabiner-elements.pqrs.org/

They appear to be doing so

[2020-12-08 20:20] ChristopherA opened #26 "Changing crypto-account to crypto-keyset?"
In regards to [UR Type Definition for BIP44 Accounts](https://github.com/BlockchainCommons/Research/blob/master/papers/bcr-2020-015-account.md)…

As we work on the user-interface for our dedicated multsig co-signer app this week, we are running into a namespace collision / user confusion with calling this a crypto-account. It is only an "account" when it is used as a single-sig descriptor, but whe

[2020-12-18 00:33] ChristopherA opened #27 "Standard text for demo Stackscripts"
We need review of the text for our demo Torgap stackscripts (initially the Torgap demo and the open time stamp demo). In particular, at the bottom it needs to credit blockchain commons, and link to the appropriate repo if they want to hose their own, and a call for support.

Longer term, we need to add a spot for the "host" of one of these services can advertise they are hosting it (for instance B

[2020-12-18 18:50] gorazdko commented on #27
Logo, repo and donation link added to both services:

* http://fscst5exmlmr262byztwz4kzhggjlzumvc2ndvgytzoucr2tkgxf7mid.onion/
* http://3xcaaswwserqnox56z7d7wifwyxm2jsdv4fniffym5jwncqx3qr7uzid.onion/

For proofreaders the source text can be found [here](https://github.com/BlockchainCommons/torgap-demo/blob/master/public/index.html) and [here](https://github.com/BlockchainCommons/torgap-opentimesta

[2020-12-22 21:12] ChristopherA opened #29 "Updating to new Blockchain Commons Apple Certificate, expiring in a few days"
Our Apple Developer certificate for Blockchain Common's is expiring in a few days.

As we have a number of new TestFlight versions coming out now, we probably should to go ahead an convert over to the new one now. There are a number of us building with it (@ChristopherA @Fonta1n3 @wolfmcnally @shannona) so we should coordinate the switch over on the Gordian Core Test Team on Signal.

---
Your Dist

[2020-12-26 21:43] ChristopherA opened #30 "DOCUMENT: 2022 Internal Standards, Policies & Templates Updates"
We need to update our internal community standards, repo policies, and related templates for 2022. Especially given new Internship projects.

This includes:

* Standardize repo issue tag name, descripts, and colors (update all and put in security-template).

* More detail on versioning, releases, git branch strategies:
  * Examples:
    * https://github.com/bitcoindevkit/bdk/blob/master/DEVELOPMEN

[2020-12-26 21:46] ChristopherA commented on #30
Some random links related to software and code security best practices:

Security Software & Code Best Practices
- [cii-best-practices-badge/criteria.md at master · rsp/cii-best-practices-badge](https://github.com/rsp/cii-best-practices-badge/blob/master/doc/criteria.md)
- [rsp/cii-best-practices-badge: Core Infrastructure Initiative Best Practices Badge](https://github.com/rsp/cii-best-practices-

[2020-12-26 22:03] #17 closed

[2021-01-15 00:45] ChristopherA commented on #30
Another possible item — add an emerging standard for `security.txt` files at root of repos. See  https://github.com/securitytxt/security-txt that is drafting https://tools.ietf.org/html/draft-foudil-securitytxt-10

[2021-01-22 00:27] wolfmcnally commented on #29
I think this should be resolved now.

[2021-01-30 00:00] ChristopherA commented on #30
https://owasp.org/www-project-mobile-security-testing-guide/

[2021-02-12 20:17] ChristopherA opened #35 "Need App Stores (Apple, Google) strategy for version numbers, release status, alpha beta rc, etc."
Need a proposal from @wolfmcnally

[2021-02-12 22:22] wolfmcnally commented on #35
Here's what I know about Apple version numbers.

- [Technical Note TN2420: Version Numbers and Build Numbers](https://developer.apple.com/library/archive/technotes/tn2420/_index.html)
- [CFBundleVersion](https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html#//apple_ref/doc/uid/20001431-102364)
- [CFBundleShortVersionStrin

[2021-02-12 22:24] wolfmcnally commented on #35
One of the nice things about using a monotonically-increasing integer for release number is that it is amenable to automated release processes. And even though it is not shown to the public, it *can* be revealed to testers. In the case of Apple's Test Flight, it automatically is revealed to testers.

[2021-05-25 19:07] ChristopherA opened #39 "COMMUNITY: Review Community Categories/Labels (#143)"
- [ ] Choose Different Ones for Community?
- [ ] Add to Community
- [ ] Are people actually using labels?
- [ ]
Since we have have so many repositories, we should come up with a reasonable set of standard labels that are suitable for our needs. The trick will be not to have TOO many labels. We don't tend to host giant projects with lots of contributors and complex automated CI scripts, instead for

[2021-05-25 19:50] ChristopherA commented on #29
@Fonta1n3 I was getting a notice that your developer certificate needed to be renewed? If you did, could you close this issue?

[2021-05-25 19:52] ChristopherA commented on #30
Broke out the labels part of this project in #39

[2021-05-25 19:53] ChristopherA commented on #30
@gorazdko What is complete or needs more work with this project? Should we break it out into more issues and close this one? Are there some that sub-projects that interns could tackle this summer?

[2021-05-25 19:55] ChristopherA commented on #35
@Fonta1n3 @wolfmcnally

Are we now being consistent here for Guardian, UR Vault and Gordian Cosigner?

[2021-05-25 19:59] ChristopherA commented on #39
Related to automating projects, a labeling scheme: https://medium.com/the-andela-way/how-to-build-a-power-up-for-your-github-project-board-for-project-management-344d5b380a68

[2021-06-20 15:52] HarshCasper commented on #39
Hi @ChristopherA

Can I take up the project? I expressed interest in working on CI and this would be something that would concern my area of work.

[2021-06-20 23:09] ChristopherA commented on #39
👍

[2021-06-22 06:56] HarshCasper commented on #24
Hi @shannona

I did not request it to be assigned to me, but I went ahead and played around with the same to see if I can do a simple POC. And I'm glad, I was able to complete it up.

I have made use of an unofficial API here: https://sponsors.trnck.dev/

Furthermore, with the aid of some JavaScript Client-Side scripting, I am able to fetch JSON data over the API and parse it to render it on HTML.

[2021-06-22 18:46] shannona commented on #24
Wow, that's terrific.

Embedding it is definitely the next step. This would be the location, replacing the current textual list under "Additional Sponsors":

https://www.blockchaincommons.com/sponsors.html

So, yes, please go ahead and try it out by creating the assets directory and replacing that text on the sponsors page.

It's all stored here:
https://github.com/BlockchainCommons/www.blockchain

[2021-06-23 18:34] HarshCasper commented on #24
Hi @shannona

Here is the final work. Can you share some feedback before I send in a Pull Request for it to get merged, or does it look all good?

![Tab-1624473106488](https://user-images.githubusercontent.com/47351025/123150131-a3dc7000-d47f-11eb-8175-5999dbabdf1e.gif)

[2021-06-23 21:45] shannona commented on #24
That looks amazing! Do the names/pictures link through to the GitHub profile for the user? That'd be my preference. In any case, yes, please release that.

[2021-06-24 05:45] HarshCasper commented on #24
Hi @shannona

Here is the PR: https://github.com/BlockchainCommons/www.blockchaincommons.com/pull/17

Yes, the names and the avatars link to their GitHub profile.

[2021-07-07 06:42] Tv-igtmomsp opened #54 "Nodl Cash!! Get in Go Green✅"
5E6Nqfa1SdofeXjVgtyAr4wRb7bJkf3275q6YtdTD27R5M5C[tbellmoney.business.site

[2021-07-07 17:08] #54 closed

[2021-07-07 17:09] ChristopherA commented on #54
User is blocked from this communy

[2021-07-19 21:05] namcios opened #62 "Standardizing Contributing Flow with PRs - WIP"
As previously discussed with @ChristopherA and @gorazdko, we should document the PR opening, reviewing/editing, and merging process. Blockchain Commons does use [Github Flow](https://guides.github.com/introduction/flow/index.html), but often times the PR reviewing process can get cumbersome and/or time-consuming. So, here are some ways to make it work more seamlessly, assuming the contributor is a

[2021-07-19 23:34] ChristopherA commented on #62
There is some GitHub trick method that a contributor can fork the repo, create a branch, and submit PR back that allows the maintainers to directly commit changes to that PR without additional permissions from the contributor. It hasn’t been clear to me how this is done, but is incredibly useful to make it easy to accept useful contributions and encourage/educate the participants, and do final twe

[2021-07-19 23:35] ChristopherA commented on #62
I would love some form of CI that checks if a CLA from the contributor @github account exists.

[2021-07-20 16:32] namcios commented on #62
I might be mixing things, but wouldn't this be achieved with number one? Maintainers can edit and directly commit changes by default. At least for me it's always marked to allow by default. Only for non-maintainers that I'd have to grant additional permissions, for example for another contributor.

[2021-07-20 16:47] namcios commented on #62
Some reference links:

https://stackoverflow.com/questions/44030176/how-to-modify-someone-elses-github-pull-request

https://docs.github.com/en/github/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/committing-changes-to-a-pull-request-branch-created-from-a-fork

https://tighten.co/blog/adding-commits-to-a-pull-request/

[2021-07-20 16:50] ChristopherA commented on #62
@namcios seems option 1 might do it. Some testing may be useful.

@shannona any other requirements or ideas?

[2021-07-23 15:39] namcios commented on #62
@ChristopherA recently tested it on LBftCL [PR 264](https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line/pull/264).

Had to ask PR owner for inviting me into his fork (since I'm not a maintainer of LBftCL) and it worked like a charm with:

- `gh pr checkout 264`
- performed my changes with signed commits, then
- `gh push`
- changes automatically reflected in the PR

I'm gues

[2021-07-23 15:42] namcios commented on #62
I meant `git push` not `gh push`

[2021-07-23 18:07] ChristopherA commented on #62
Great! @shannona Let’s document this solidly in both translations advice .md and maybe look at the standard CONTRIBUTING.md in the secure template and where appropriate in Community/

@namcios & other interns & volunteers: We welcome any PRs to improve this community wide as likely it will take a while for @shannona to get to it given his two-day a week commitments to Blockchain Commons (mostly Tu

[2021-07-23 23:39] csralvall commented on #62
The workflow with quick corrections and fixes of typos will stay as it was or this idea applies to them also?

[2021-08-05 20:56] csralvall commented on #62
Hello @ChristopherA , I have a working implementation for this in a private repository, how should I proceed?

[2021-08-05 21:24] ChristopherA commented on #62
Great, this will be very useful. For now I’d likely start by adding it to this leaning bitcoin repo, but We could also set up a test repo for it first using our secure template as a start.

I’m not sure what level of repo privileges are required to set this up. maintainer or administrator?

I’m heading out on vacation tomorrow, so before weekend feels difficult. But @shannona coulD work with you n

[2021-08-06 12:23] namcios opened #65 "BC testnet public node address?"
Wondering whether we still have a public Bitcoin testnet node running and what's its address @shannona ?

I'll add it to and update the website.

[2021-08-10 00:47] csralvall commented on #62
For the record:
- I have setted up a test repo for this, and tested if it works when another account forks the project and requires a pr and it works.
- As I have created that repo, and haven't assigned any role, I have only tested the functioning of the action with administrator privileges.
- The logic is simple: the code checks if the username of the user that request the pull request is inside

[2021-08-12 14:50] #65 closed

[2021-09-09 21:12] ChristopherA opened #66 "Need Release Path for Documents"
We have a release path for projects https://github.com/BlockchainCommons/Community/blob/master/release-path-standards.md

But for projects like the [Psuedonymity Guide](https://github.com/BlockchainCommons/pseudonymity-guide), which have both, we may want to a different naming standards.

@shannona @namcios

[2021-09-14 21:20] namcios commented on #66
Per @shannona :

In which:

Edited: v0.9.0
Reviewed: v1.0.0 (implies walking through the whole process and making sure it all works right.)

[2021-09-14 21:47] shannona commented on #66
I'll follow that up with a draft PR for our release article as time allows.

[2021-12-12 23:25] imansayadi3 opened #69 "Modt big issue for blockchain"
Big and funny problem in blockchain .. If the user forgets the password or lost phones, his 12 words are only good for grazing the cottonwool. Go back 15 years ago and think about the password hit... The creators of Windows had bigger and more up-to-date brains.
40% of the people who create wallets and become members of the blockchain network do not even have access to information about txid . If

[2022-03-05 18:48] ChristopherA commented on #71
See also:

* [Trustless Recursive Zero Knowledge Proofs](https://tlu.tarilabs.com/cryptography/trustless-recursive-zero-knowledge-proofs)

[2022-05-08 00:00] ChristopherA opened #77 "Finalize Code of Ethics for Gordian/Blockchain Commons"
Lead: @ShannonA

Possibly based on IEEE https://www.ieee.org/about/corporate/governance/p7-8.html, but nothing as large as https://www.acm.org/code-of-ethics

Currrent draft at https://hackmd.io/SJbeoXaFScmGM4_-AmNZeQ

* [ ] Update current draft
* [ ] Puzzle to simplify to best practices for small open source org.
* [ ] Circulate to staff & key patrons first, then community.
* [ ] Publish for us
*

[2022-05-08 00:04] ChristopherA opened #78 "Finalize requirements for Gordian Seal 2023"
Lead: @ShannonA

Create logo, text, associated graphics and trademarks, and legal. Get buy-in from patrons & wallet ecosystem partners. Initially Bitmark, Foundation Devices, but also ideally one bitcoin service/non-wallet vendor.

Current draft: https://hackmd.io/KFIw-SUnRGyv3A8c6VpTXQ

#Gordian #seal #wallet #specifications #interoperability #airgap #community #standards

[2022-05-08 00:05] ChristopherA opened #79 "Reproducible Builds"
https://reproducible-builds.org/docs/

[2022-05-08 00:10] ChristopherA opened #80 "Gordian Recovery App"
**Gordian Recovery**

Implement and release Gordian Recovery for multiple platforms. Focused on archiving transactions (for instance beancount) & then sweeping transactions to new descriptor, in particular for legacy bitcoin accounts, and moderns multisig accounts.

#gordian #bitmark #recovery #sweep.

https://github.com/BlockchainCommons/Community/projects/1#card-58978605

[2022-05-08 00:15] ChristopherA opened #81 "QuickConnect 2.0"
Lead: @WolfMcNally

Define a UR-based QuickConnect standard for TorGaps, that handles multiple services and replaces current JSON based version.

Likely required for Gordian Recovery #80 as that app should point to a full node (or Esplora) and a seperate Spotbit instance.

#QuickConnect #UR #TorGap

[2022-05-08 00:20] ChristopherA opened #82 "xpub Privacy Best Practices"
Lead: TBD

This topic continues to haunt the bitcoin ecosystem with some proposed approaches that are likely bad long-term architecture.

Goal: define legacy best practices to avoid reuse of xpubs when creating multisigs for stateless wallets (for instance for single key signer), and higher standard for stateful wallets (Sparrow Wallet, Gordian SeedTool, etc.) but also start dialogue in community

[2022-05-08 00:23] ChristopherA commented on #77
Possibly critical path before the end of Q2 as starting Q3 we will have a number of new patrons, interns, and volunteer community members.

[2022-05-08 00:30] ChristopherA opened #83 "Pre-Internship"
Lead: @ChristopherA
Overall Due: 2022-05-12 (Friday)

* [x] Send email to all internship applicants.
* [x] Invite bc-community for mentorship
* [ ] Interview candidates on Signal, update spreadsheet
* [ ] Add accepted candidates to bc-intership-2022 Signal
* [ ] Doodle poll for first meeting, on 2022-05-16 or 17 Tuesday or Wednesday.

[2022-05-08 00:30] ChristopherA opened #84 "Gordian Seed Tool Release 1.5"
Milestone at https://github.com/BlockchainCommons/GordianSeedTool-iOS/milestone/2

Lead: @WolfMcNally

[2022-05-08 00:33] ChristopherA opened #85 "Research Proof of Reserve & Auditing"
Investigate various options:

https://github.com/square/beancounter

[2022-05-08 00:36] ChristopherA opened #86 "Human Rights Use Cases for Digital Privacy & Cryptocurrency"
Possible #internship project.

Explore use cases and requirements to support international human rights advocates and health care professionals, including a possible user engagement model.

See community discussion: for more details https://github.com/BlockchainCommons/Community/discussions/76#discussioncomment-2395718

[2022-05-08 00:49] ChristopherA opened #87 "Publish Research Article on 25519 Limitations"
Current notes at https://hackmd.io/ea_Y7AvySOOo5sESVFX1hA but needs updating with more details of multisig problems, FROST, etc.

Do before, or as a followup to, a cryptowatch article?

[2022-05-08 01:24] ChristopherA opened #88 "INVESTIGATION: Staging branch for experimental cryptography for the secp256k1 library?"
There is a need for a reasonable long-term "staging" ground branch for sep256k1 related crypto that might ultimately be brought into the bitcoin ecosystem, not just at the L1 level but also at L2.

The problem is that Bitcoin Core's [secp256k1 library](https://github.com/bitcoin-core/secp256k1/) tends to not merge branches until they are extremely mature and are ready to use in an upcoming L1 rele

[2022-05-08 06:53] maaku commented on #88
I think your suggested scope is too small, if this is to become a Blockchain Commons project. There is a need for a library which handles all the sorts of things that are generally useful to do with secp256k1 curves. This potentially includes more than just things which might be of useful to bitcoin in the future.

[2022-05-08 09:03] ChristopherA opened #89 "PROTOTYPE: Adapt LetheKit for SeedSigner"
[LetheKit v0](https://github.com/BlockchainCommons/lethekit) is an open source DIY hardware box with offline cryptographic tools. It can use dice for entropy, import seeds in a variety formats, and exports derived keys using UR-based QR codes.

However, it can't support crypto-request QRs, or sign transactions as it does not have a camera.

[SeedSigner](https://github.com/seedsigner/seedsigner/) i

[2022-05-08 09:33] ChristopherA opened #90 "PUBLISH: Update Universal Reference Architecture for Digital Wallets"
At #RWOT9 in Prague @ChristopherA and @JoeAndrieu shared as a topic paper [What’s in Your Wallet?](https://github.com/WebOfTrustInfo/rwot9-prague/blob/master/topics-and-advance-readings/whats-wallet.md) on the topic of architecture for digital wallets.

A more complete, but slightly older version is available in a private google doc at https://docs.google.com/document/d/1fbYVhiVd0ES2lHZ6zjYUfj9kVp

[2022-05-08 09:40] ChristopherA opened #91 "REFERENCE CODE: VRF for secp256k1"
In order to be able to implement certain kinds of architectures that leverage commitments (for instance Key Transparency, Kademilia, CONIKS) we need an implementation of [Verifiable Random Functions](https://en.wikipedia.org/wiki/Verifiable_random_function).

There does exist a C fork of `bitcoin-core/secp256k1` at https://github.com/aergoio/secp256k1-vrf that implements VRF to the IETF standard,

[2022-05-08 09:47] ChristopherA opened #92 "INVESTIGATE: Simplex: A Simple Container for Complex Concepts"
Simplex is our long-term architecture for structured data that is self-describing, self-authenticating, and support progressive trust architectures.

Early draft at https://hackmd.io/@wolfmcnally/BJWPhJhQc

[2022-05-08 09:49] ChristopherA opened #93 "INVESTIGATE: Simplex Expression Language"
A cryptographic predicate language for use with Simplex Objects #92

Early draft at https://hackmd.io/@wolfmcnally/rkM-SJpHc

[2022-05-08 09:53] ChristopherA opened #94 "INVESTIGATE: Collaborative Key Management (CKM)"
CKM is a Blockchain Commons architecture that leverages Schnorr, FROST, Distributed Key Generation, and other modern cryptography to reduce correlation, SPOC, SPOF and SPOD.

Some early notes at https://hackmd.io/hb538SOJT8e3gS2nRerT9Q

Related to #92 #93

[2022-05-08 09:55] ChristopherA opened #95 "REFERENCE APP: Cryptotool"
A command-line app written in RUST for experimenting with Simplex, UR, and CBOR concepts.

https://hackmd.io/@wolfmcnally/By2kv1uXc

[2022-05-08 10:03] ChristopherA opened #96 "COMMUNITY: Need contract for research and writing"
Our current [standard developer contract](https://github.com/BlockchainCommons/Open-Development/tree/master/open-software-developer-contract) is oriented toward submission to open source repos, but some of our efforts are research that is shared with Patrons and may not be available in a repo. Investigate how to solve this, initially for @ShannonA.

[2022-05-08 17:57] ChristopherA opened #97 "DOCUMENTATION: How to Write Good Use Cases"
Use cases exist because the hard part of programming is not writing the code, but rather knowing what code to write. They help to identify the _right_ code to write, and what code _not_ to write.

[2022-05-08 18:03] ChristopherA opened #98 "COMMUNITY: Summer Internship Program"
* [ ] First meeting
* [ ] Office Hours
  * [ ] Schedule guests
* [ ] Intern Projects
  * [ ] Selected (1 lead, 1+ support)
  * [ ] Defined & Scoped
  * [ ] Use Cases
  * [ ] Intern Deliverable Contract
  * [ ] Final Code/Peer Review
  * [ ] Promotion of Projects
  * [ ] Certificate of Completion
* [ ] Post-mortem
* [ ] Career 1 on 1

[2022-05-08 18:05] ChristopherA opened #99 "COMMUNITY: Review oldest repos (ONGOING)"
Review oldest BC repos, update, identify new leads, deprecate, archive, delete as appropriate.

[2022-05-10 16:09] ChristopherA opened #100 "Gordian Architecture for Cold Storage Vaults"
Requirements for, evaluation of existing practices & in general how do we assess security standards for cold storage vaults. In particular how do we store tokens (fungible, NFTs, ocaps, DIDs, etc) given a Gordian Architecture?

[2022-05-10 16:11] ChristopherA commented on #35
@shannona is this now done to our satisfaction? Is it linked in appropriate places? If yes, link them here and let's close this issue.

[2022-05-10 21:58] ChristopherA opened #101 "EVENT: Silicon Salon"
Issue tracking tasks associated with Silicon Salon event:

* [x] initial sponsors approval (Crossbar, Proxy)
* [x] identify blackout dates & choose draft date (May 24, 9am PDT)
* [x] draft of invite to send for additional sponsors (see below)
* [x] shared with additional sponsors
  * [x] Tropic-Square has signed up
* [ ] Feedback on date and final invite
  * [ ] Yubico says FIDO event in Berlin, m

[2022-05-11 17:38] ChristopherA commented on #87
In particular, some other useful links on this topic:

* [Cofactor Explained: Clearing Elliptic Curves' dirty little secret][https://loup-vaillant.fr/tutorials/cofactor]
* [Prime, Order Please! Revisiting Small Subgroup and Invalid Curve Attacks on Protocols using Diffie-Hellman - IACR](https://eprint.iacr.org/2019/526.pdf)
* [Exploiting Low Order Generators in One-Time Ring Signatures - nickler's

[2022-05-13 04:58] ChristopherA opened #102 "REFERENCE LIBRARY: Adapter Signatures for BIP340 Schnoor for secp256k1"
- [ ] Document the minimal changes necessary for the support for adapter signatures in BIP340 Schnorr
- [ ] Review docs with @sipa, etc.
- [ ] propose API changes to @bitcoin-core/secp256k1 master library to support them
  - [ ] try to maintain compatibility with -zkp ecdsa adapter signatures
- [ ] create test cases
- [ ] implement as branch in -staging
- [ ] test and get additional reviewers for

[2022-05-13 06:27] ChristopherA opened #103 "RESEARCH: Future of Authorization"
Survey the future of cryptographic authorization (as opposed to authentication) with features such as object capabilities, watch-towers, non-fungible tokens, pre-signed transactions, smart signature scripts, scriptless scripts, adaptor signatures, and ZK-proofs.

In particular focus on those relevant to secp256k1 & Schnorr.

[2022-05-13 06:51] ChristopherA commented on #22
Reopening. We don't really have a formal lead for Spotbit, though @nochiel has been serving that role with the current refactor. We also have some interest from summer 2022 interns in contributing to the next generation of Spotbit, but we don't have a good roadmap.

@Nociel, your thoughts?

[2022-05-13 19:55] ChristopherA opened #105 "COMMUNITY: Review or community best practices"
Related #33 #77 #66

- [ ] Should we revise our categories to be more like COSS (as per https://specs.status.im). For instance, we don't have a deprecated category.

[2022-05-13 20:00] ChristopherA opened #106 "Security Review of bc-shamir library & bc-sskr two-level primitives"
Get a formal third-party security review of this code and advance them to beta.

#cryptography #security #review

[2022-05-14 19:50] wolfmcnally commented on #88
If `libsecp256k1-zkp` is a fork of `libsecp256k1`, then it might make sense to have a well-maintained fork of `libsecp256k1-zkp` that can continue to pull from it as its upstream but also include a much wider variety of constructs contributed by the community. If any of the constructs prove more widely useful, they could be cherrypicked by upstream projects, but projects that need these less prove

[2022-05-14 20:27] ChristopherA commented on #88
The problem with forking -zkp is that there is a lot of code specific to Blockstream Liquid or other Blockstream projects that we may not want to support.

[2022-05-14 20:57] wolfmcnally commented on #88
If we fork `libsecp256k1` directly then we'd have to cherry pick (and maintain) the parts of `-zkp` that we do want. If our branch is more about providing a wide range of functionality over providing support for a specific project like BitcoinCore or Elements, then I don't think we'd need to worry about bringing along the code that Blockstream uses; other people may find it useful too. I expect th

[2022-05-18 00:15] ChristopherA commented on #84
Still have to post tweetstorms. Then close.

[2022-05-18 19:46] ChristopherA opened #107 "INVESTIGATE: P2P Verifiable Credentials"
Create examples and schema for various P2P relevant W3C Verifiable Credentials 1.1 (or 2.0), in particular "knows", "local name", and various code provenance claims "created" "reviewed" "maintains", etc.

- [ ] VC 1.0/1.1 for use did:onion
- [ ] Simplex CBOR redactiable version for use in future Blockchain Commons architectures

#DID #VC #schema #json-ld #cbor

[2022-05-18 19:54] ChristopherA opened #108 "REFERENCE APP: Gordian Coordinator"
Write bitcoin transaction coordinator reference app focused on:
- [ ] Create a multisig descriptor from multiple singers
- [ ] given that descriptor, find any UTXO via Tor from one of 2 Esploras
- [ ] sign via PSBT crypto request
- [ ] hold/save or send to mempool

Open Questions

- [ ] Do we want to do a CLI version first?
- [ ] Do want to start with [SweepTool](https://github.com/BlockchainCommo

[2022-05-18 22:09] ChristopherA opened #109 "ADVOCACY: Digital Identity Laws & Regulation (ongoing)"
Continue to advocate digital identity legislation, bring definition to more states and nations, and bring in key self-sovereign principles and under Agency Law

 #SSI

[2022-05-18 22:14] ChristopherA opened #110 "DOCUMENT: New Bitcoin Scripting Tools"
- [ ] Research new tools like miniscript, sapio, etc. for use for scripting Bitcoin, and decide when they should be incorporated into
  - [ ] Decide when mature enough to plan for inclusion in #LBTCftCL

[2022-05-18 22:19] ChristopherA opened #111 "DOCUMENT: New bitcoin script use cases for LBTCftCL"
Document new weird transactions like blocking transactions, vaults, covenants, etc. and decide when appropriate to publish in course.

* Revault: https://github.com/revault/practical-revault
* Delegated Signatures https://lists.linuxfoundation.org/pipermail/bitcoin-dev/2021-March/018615.html

[2022-05-20 18:49] ChristopherA opened #112 "PROJECT: Stand-Alone BIP-322 (Generic Signed Message Format Leveraging Bitcoin Script) CLI App"
[BIP-322](https://github.com/bitcoin/bips/blob/master/bip-0322.mediawiki) is a proposal originally by Kalle Alm (@kallewoof) to leverage the Bitcoin scripting language (ambiguously just called `bitcoin script`) to enable the signing of arbitrary messages using the same keys & scripts that Bitcoin uses for transactions.

In particular, BIP-322 extends the old single-key signing of messages (using t

[2022-05-23 12:30] wip-abramson commented on #112
The P.R. you reference that adds BIP 322 to bitcoin core is out of date. I believe it was closed in favour of this one - https://github.com/bitcoin/bitcoin/pull/24058.

[2022-05-24 16:54] ChristopherA opened #113 "REQUIREMENTS: Charter Network"
Define focal use cases & MVP requirements for a decentralized architecture for a "Charter Network" to support communicating about self-sovereign, probably tor-gapped P2P nodes.

[2022-05-25 00:21] shannona commented on #30
Made some minor changes, including:

* Moving installation & usage to the top, per GST
* Linking in standards for Release Path
* Changing default release level from Late Alpha to Alpha
* Standardizing Issues tags, largely per GST, but with new color coordination to show many like topics.

Current Issues tags are:

* **bug** [red] — Something isn't working
* **crash** [red] — The program crashes
*

[2022-05-25 01:26] shannona opened #114 "DOCUMENT: Inventory digital identity & blockchain laws"
A good project for non-engineering interns, in particular those with library science or pre-law eduction.

Discover and compare different US state & international laws in regards to digital signatures, digital identity, and blockchain-related technologies, and create an open source repository with catealogue.

* What jurisdictions already have laws or regulations in place? Where can we find the of

[2022-05-25 01:27] shannona opened #115 "DOCUMENT: Add Taproot & Schnorr to Learning Bitcoin"
Our popular online course [Learning Bitcoin from the Command Line](https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line) is complete through pre-Taproot/Schnorr release of Bitcoin-Core, but needs research and first drafts on a number of topics:

A list of the items being considered for the next release (3.0?) of the course are described at [Todo List for v3.0 of Learning Bit

[2022-05-25 01:28] shannona commented on #115
I'm a good contact for this, as we'll need to start out by figuring out where to put the material in the book. That'd probably need to preceded by you figuring out what's available right now for usage.

[2022-05-25 17:47] shannona commented on #2
Closing this out, replacing with the more modern #109, also our documentation work in #114.

[2022-05-25 17:47] #2 closed

[2022-05-25 17:48] shannona commented on #109
To date, the advocacy work has mainly been Christopher's work with legislatures, particularly including Wyoming. But we'd like to expand it with more volunteers. The following additional task is brought in from #2:

==
Volunteers for our advocacy absolutely needed. And not only coders, but requirements, UI, testing, documentation, fund raising, foundation proposals, law & regulatory review, market

[2022-05-25 17:49] shannona opened #116 "PROJECT: Adapt LetheKit for SeedSigner"
[LetheKit v0](https://github.com/BlockchainCommons/lethekit) is an open source DIY hardware box with offline cryptographic tools. It can use dice for entropy, import seeds in a variety formats, and exports derived keys using UR-based QR codes.

However, it can't support crypto-request QRs, or sign transactions as it does not have a camera.

[SeedSigner](https://github.com/seedsigner/seedsigner/) i

[2022-05-25 17:51] #116 closed

[2022-05-25 17:54] shannona opened #117 "PROJECT: NFC-A tag test platform"
## Project: NFC-A tag test platform

This project is for interns with interest in hardware, and some experience with hardware development / toolkits.

Adapt an MCU devkit for use as an NFC-A tag test platform for testing [Seed Tool](https://github.com/BlockchainCommons/GordianSeedTool-iOS) NFC read/write functionality.

For example, using:
* [nRF52832DK](https://www.nordicsemi.com/Products/Develop

[2022-05-25 17:56] ChristopherA opened #118 "ARTICLE: Technical Debt & Security"
A blog post on the concept of technical debt in general, about why security-focused open source projects & orgs have to become MUCH better at it than other kinds of projects, and how specifically Blockchain Commons attempts to address this as a small org.

[2022-05-25 18:02] shannona opened #119 "PROJECT: Video Course for "Learning Bitcoin from the Command Line""
Our popular online course [Learning Bitcoin from the Command Line](https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line) is completely text, but there is an opportunity to also teach it in a guided video course.

Not all topics need to be covered, but even a better "intro" video course would be helpful.

This project would be great for someone new to Bitcoin but comes to it

[2022-05-25 18:17] shannona opened #120 "Project: Edit "Blockstream Office Hours" Videos"
We have slightly more than a dozen Zoom recordings of various Bitcoin, blockchain, and privacy advocates from our "Office Hours" during the last two cohorts of interns. There will be more interviews and Q&A added this summer. @ChristopherA can provide links and access to them all.

We are looking to:
- [ ] Review extant videos.
- [ ] Identify major topics within the videos.
- [ ] Produce individua

[2022-05-25 20:31] shannona opened #121 "Project: Modular Bitcoin-Standup-Scripts"
There is a PR to our Bitcoin Standup scripts from former internet @jodobear that modularizes these scripts to allow for additional open source bitcoin libraries to be chosen to install: https://github.com/BlockchainCommons/Bitcoin-Standup-Scripts/pull/15

That PR likely was entirely functional two years ago, but we let other priorities get in our way, and by the time we went back to the modular sc

[2022-05-25 20:43] shannona opened #122 "PROJECT: Human Rights Use Cases for Digital Privacy & Cryptocurrency"
The core idea here is figuring out what might be needed to really support and improve human rights with our blockchain/cryptocurrency/digital-identity technologies. As Christopher says, the best way to figure that out is by interviewing stakeholders. A lot of work in this space has the problem of being handed top-down: the developers decide what's needed and try to convince people why it's importa

[2022-05-25 20:44] shannona opened #123 "PROJECT: Survey of Developer & Blockchain Ethics"
Another project that can be led by a non-engineer. We'd like a good survey of history of software engineering ethics and more recent thoughts given blockchain development, self-sovereign identity, modern privacy technologies, etc.

The team should be prepared to be able to lead a group discussion with Blockchain Commons stakeholders (patrons, contributors, volunteers, staff and users) on this topi

[2022-05-25 20:45] shannona opened #124 "PROJECT: C-Lightning: Course Update & Maintenance Documents"
Our popular online course [Learning Bitcoin from the Command Line](https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line) has some basic chapters on C-Lightning, but we need more:

- [ ] Edit for current C-Lighting, but also common plugins and developer tools.
- [ ] Consider a fork of the focused on installation and maintenance of a Bitcoin-LN node, that is CLI-focused (rathe

[2022-05-25 20:49] shannona opened #125 "PROJECT: Stand-alone BIP-322 (Generic Signed Message Format Leveraging Bitcoin Script) CLI app"
This is a project for some more advanced coders with C++ experience.

[BIP-322](https://github.com/bitcoin/bips/blob/master/bip-0322.mediawiki) is a proposal by @kallewoof that extends the old legacy single-key signing of messages, to sign or partially sign a message for any Bitcoin script from which they could conceivably spend.

There is a https://github.com/bitcoin/bitcoin/pull/16440 to update

[2022-05-25 21:02] shannona opened #126 "PROJECT: Translate Learning Bitcoin from the Command Line"
Last year saw two translations of Learning Bitcoin from the Command Line, into Spanish and Portuguese. We'd love to see more. Our goal is to reach large groups of engineers who might not have proficiency in one of our current course languages (English, Portuguese, or Spanish). Hindi? Italian? Chinese? We're happy to talk about options.

This is another project that can be led by a non-engineer, th

[2022-05-25 21:04] shannona opened #127 "Project: Conquer Death with Bitcoin"
A serious problem with any #SmartCustody solution in figuring out how to insure that your Bitcoin or other digital assets find your way to your heirs. Even if you're not dead, you might be incapacitated such that you can't personally access your funds, and it might be critically important for you to do so (say, to pay your ridiculous hospital bills in America).

We've tackled this problem twice:

[2022-05-25 21:06] shannona commented on #125
This was already logged as #112.

[2022-05-25 21:06] #125 closed

[2022-05-25 21:12] shannona opened #128 "Project: Update DIDs for secp256k1 as per BIP39"
This would be a good group project for interns interested in internal standards and self-sovereign identity, and with different skills (writing specs, testing, coding javascript, coding C or rust, writing documentation, etc.)

Few of the emerging W3C DID (Decentralized Identifier) methods are using secp256k1 (the curve that bitcoin uses).  In addition, none of that I know are actively implementing

[2022-05-25 21:13] shannona opened #129 "Project: Best Practices for Open Development of Secure Software"
This is another project that would be good for a team with mixed skills, and does not require deeper software engineering experience (but at least one should have experience with build processes).

Various organizations (Linux Foundation, Google, etc.) have offered guidance as to the practices of security, supply chain, etc. , but also emphasize enterprise and OS supply chain use cases. There are

[2022-05-25 21:13] shannona commented on #129
If someone is interested in this, also consult @ChristopherA and myself my some documents that we have in-process regarding Open Development.

[2022-05-25 21:15] shannona opened #130 "PROJECT: Best Practices for Open Development of Secure Software"
The war in Ukraine, and other authoritarian threats to citizens around the world demonstrate that we still need powerful tools for anonymity. One of the best of these is Tails OS, which runs on cheap computers from a USB device. Whonix runs on multiple virtual machines inside of your existing OS, and Qubes offers a very different security model on some specific laptops. All, however, are not easy

[2022-05-25 21:16] shannona opened #131 "PROJECT: Survey of Cryptographic Auctions"
With the rise of digital assets, there is an increasing need for fair pricing and exchange between them.

For those of a more a cryptographic or mathematical bent, but are not software engineers, I'd love to see a survey of different auction types that now can be supported securely with modern cryptography. @shannona and I have a list of historical auction types and their utility for supporting di

[2022-05-25 21:16] shannona commented on #131
Be sure to ask @ChristopherA and myself for our current (unpublished) document on auctions.

[2022-05-25 21:19] shannona commented on #24
We've installed this, then had it stop working due to loss of the online server that supported it. I've since replaced it with a simple but attractive bit of HTML for putting in users as we see fit.

[2022-05-25 21:19] #24 closed

[2022-05-25 21:21] shannona commented on #27
I looked through this, and the first demo still seems live, and the second not. So, standardizing and editing text should still remain as a backlog item.

[2022-05-25 21:21] shannona commented on #29
This is no longer an issue.

[2022-05-25 21:21] #29 closed

[2022-05-25 21:28] shannona commented on #35
I've added a link to our Community README, which has this sort of info.
https://github.com/BlockchainCommons/Community/blob/master/README.md

[2022-05-25 21:28] #35 closed

[2022-05-25 21:30] shannona commented on #66
This needs to also accomodate when things move beyond Research (and where they go)

[2022-05-25 21:32] shannona commented on #69
This is a topic we regularly approach in Smart Custody and is covered for example in #127, but also in the specifics of our #SmartCustody scenarios, most recently:
https://github.com/BlockchainCommons/SmartCustody/blob/master/Docs/Scenario-Multisig.md

[2022-05-25 21:32] #69 closed

[2022-05-25 22:04] shannona commented on #39
I've reviewed the suggested sources and added a few (security, in process, idea). I've also tightened up color-coding a tiny bit.

We *could* add a set of labels for difficulty and a set of labels for importance. I feel like we cover important with the "next release" tag, while it'd be a question of whether developers such as @wolfmcnally would find difficulty labels worthwhile as an interaction m

[2022-05-25 22:20] shannona commented on #39
GST and Gordian Server now match this. GST has a few extra labels for specific content/platform (Ethereum, MacOS), which is probably fine. I laid them out in a standardized purple.

[2022-05-26 00:15] shannona commented on #39
Closing per @ChristopherA

[2022-05-26 20:57] ConorOkus commented on #119
I also started the `Bitcoin Developers` Youtube channel here - https://www.youtube.com/channel/UCUq_ZdezVWKPvkWRicAYxLA

Might be a good place to post this new course.

[2022-06-02 18:49] ChristopherA opened #132 "Family Scenario, Adversarial Analysis & Risk Model for #SmartCustody 2.0"
Complete Family long-term wealth use cases & requirements, review against SmartCustody adversaries and create a formal risk model (based on first book) for this use case vs. self-sovereign use case.

[2022-06-05 21:55] ahsmha commented on #79
This appears to be fascinating! What are the potential results of this project?

[2022-06-07 18:01] shannona opened #133 "PROJECT: Revise Airgap, practices of separation/partitioning, #writing"
Curent Draft: https://hackmd.io/aZkGa42WRbeayRBdNykTSg

(incomplete, and needs revision)
- update with Ledger stuff?

Article to respond to criticisms of airgap technology addressed in recent multisig-scenario PR [#15](https://github.com/BlockchainCommons/SmartCustody/issues/15), gordian & smart custody practices of functional seperatation/partitioning (such as https://github.com/BlockchainCommons

[2022-06-07 21:27] ChristopherA opened #134 "Add VSS to SSKR"
Standards, libraries and code to add the Verifiable Secret Sharing used by FROST as a 2nd type of SSKR shard.

Particularly useful as we leveraging secp256k1-zkp code, and combined with FROST it also supports integration with taproot to spend transactions, and BIP-322 to sign statements.

* [ ] Work out with @jessepossner initial spec and how to generate VSS non-collaboratively leveraging his -zkp

[2022-06-07 21:28] ChristopherA opened #135 "Gordian Seal 2023 Requirements"
Begin work on requirements of the 2nd edition of the Gordian Seal of Approval.

[2022-06-07 21:30] ChristopherA opened #136 "ADVOCACY: Private Key Laws & Advocacy"
Advocate for special protection of private keys. Reintroduce the 2020 Wyoming draft without broken amendment. Possibly link to other principles of law related to identity

- [x] Write Article (#139)

[2022-06-07 21:37] ChristopherA opened #137 "Shard Metadata with SSKR"
Update SSKR to support sharding metadata using Simplex (i.e. shard a symmetric key, that encrypts a crypto-seed and metadata).

[2022-06-07 21:44] ChristopherA opened #138 "Update bc-Bech32 for Bech32m"
Add support in this C library not only for the original bech32 version, and bech32bis, but the latest bech32m in BIP350 https://github.com/bitcoin/bips/blob/master/bip-0350.mediawiki

[2022-06-11 03:50] benthecarman commented on #112
Implementation in scala I created: https://github.com/bitcoin-s/bitcoin-s/pull/3823

[2022-06-13 03:02] ChristopherA commented on #112
Last week with met in Zoom with @kallewoof. Let me know if you want the audio recording from that meeting.

We are meeting tomorrow (Monday 9am PDT) with @wip-abramson. Contact me if you have not received Zoom details. I will record it as well.

[2022-06-13 07:39] tikka01 commented on #115
Hi Shannon, I have been assigned to the project. I was going through the comments and found out that you may be able to help me better understand and plan out this project. Can we schedule a meeting this week to discuss the scope of the project?

[2022-06-13 20:50] ChristopherA commented on #112
We've begun to draft some use cases for BIP-322 at https://hackmd.io/KR5ALrSSQO6eyrnUBJreeA — please feel free to add more, or add comments (in the view interface) if you have constructive criticism. In particular, the "proof of reserve" use cases have had some active criticism in the past that we'd like to either capture or address.

Our initial goal is to support requirements for our libraries a

[2022-06-13 21:36] ChristopherA opened #139 "Article on Private Key Disclosure Law"
@ChristopherA's history on establishing this law (see Twitter hashtag [#KeysAreNotAsset](https://twitter.com/search?q=%23keysarenotassets), including history (SSI principles) past testimony, the legal and technical rationale why, quote the testimony other (in particular Mary Beth Buchannan [video](https://www.youtube.com/watch?v=PA2U81Ygn7w&t=437s)) and how this law could serve as a major foundati

[2022-06-14 23:16] shannona opened #140 "PROJECT: Integrate a New C Library into LBTCftCL"
The `libbitcoinrpc` RPC C library used in Learning Bitcoin from the Command Line has become outdated as discussed here:
https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line/issues/561

It's not just that it's old, it's that it no longer compiles correctly without intervention.

So, we need a new C library. Tasks would be:

- [ ] Find a new C library for sending RPC commands

[2022-06-15 00:38] shannona commented on #140
Here's an alternative path for this task: bring the existing library up to date.

- [ ] Incorporate existing PR from old repo https://github.com/gitmarek/libbitcoinrpc/pull/1
- [ ] Figure out why it doesn't compile per LBTCftCL per https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line/blob/master/16_1_Accessing_Bitcoind_with_C.md#set-up-libbitcoinrpc
- [ ] Fix that
- [ ] Go t

[2022-06-15 00:39] shannona commented on #140
Debian 11 is our default OS that we expect people to be using when they're running Learning Bitcoin, so that's where we should be testing. If you need a Debian 11 linode setup, just let me know.

[2022-06-15 18:15] shannona opened #141 "PROJECT: Update Learning Bitcoin for 23.0"
The last major revision of Learning Bitcoin from the Command Line came with 0.20, and there are numerous updates since then that should be incorporated into the course.

This TODO codifies all of the most likely updates:
https://github.com/BlockchainCommons/Learning-Bitcoin-from-the-Command-Line/blob/master/TODO-23.md

This project could be done piecemeal, as every update from that list would be h

[2022-06-16 01:08] ChristopherA opened #142 "Standardize Info & Tor Services Sites"
-domains
  - [ ] Lifehash.info
  - [ ] SeedTool.info
  - [ ] Esplora.BlockchainCommons.com
  - ??
- Consistency
  - [ ] Some common skinning, logo, branding
  - [ ] Point to Repos
  - [ ] Point to BCC
  - [ ] Point to Other Notable Elements
  - [ ] Javascript degrades gracefully under Tor or Javascript turned off.

[2022-06-16 01:10] ChristopherA commented on #22
It would also be very useful for the spotbit team doing any front-end changes, to give feedback on how to skin our esplora server and other services in similar ways, for both public web at http://esplora.blockchaincommons.com and via tor under different javascript scenarios.

See issue #142

[2022-06-28 18:23] shannona opened #143 "PROJECT: Improve Categories for Community Discussion"
We need some help with better discussion categories for our Community Discussions.

https://github.com/blockchaincommons/community/discussions

Resolving this has a few steps. We need the first three or maybe four right now:

- [ ] Identify most active GitHub Discussions community.
   * Not sure how to do this. Maybe Github has publicized some of the better github sponsor repos?
   * Maybe IPFS?
-

[2022-06-28 18:32] shannona opened #144 "PROJECT: Silicon Salon 2"
Issue tracking tasks associated with Silicon Salon event:

* [x] Seed discussions, kick off plans for event.
* [x] initial sponsors approval (Bunnie Studies, Crossbar, Proxy, Foundation Devices)
* [x] identify blackout dates & choose draft date
   * Blackout: September 20-October 4
   * Draft Date: September 14
* [x] draft of invite to send for additional sponsors (see below)
* [x] shared with add

[2022-06-28 19:26] kanzure commented on #144
One of these should be a hackathon.

[2022-06-28 19:38] shannona opened #145 "REFERENCE APP: Gordian Coordinator 1.0"
Release of first iteration of Gordian Coordinator.

See also #146 for GST 1.6.

@WolfMcNally

[2022-06-28 19:39] shannona opened #146 "REFERENCE APP: GST 1.6"
Release of GST in coordination with Gordian Coordinator 1.0

@WolfMcNally

[2022-06-28 19:45] shannona opened #147 "PROJECT: Standardize Bytewords Pages"
- [ ] All interlinks correct
- [ ] Standardized info

This will link well with #142

[2022-06-28 19:52] shannona opened #148 "DOCUMENTATION: Tech Overview of Simplex"
Based roughly on:
 https://github.com/BlockchainCommons/BCSwiftFoundation/tree/master/Docs/Secure%20Components

[2022-06-28 21:00] shannona commented on #139
Here's some potential new titles:

Lookin' for Assets in All the Wrong Pieces
Forced Disclosure: A Threat to Private Keys
Forced Disclosure: An Existential Threat to Digital Assets
The Inevitable Repercussions of Private Key Disclosure
Private Key Disclosure: An Abuse of the Courts
The Collateral Damage of Private Key Disclosure
Saving Private Keys from the Courts
Wyoming & The Protection of Priva

[2022-06-28 22:09] shannona opened #149 "SPECIFY: CSR"
CSR is "Collaborative Seed Recovery", a methodology for recovering lost seeds through collaboration between multiple parties.

* **Collaborative**
   * We have not used the language of "social" seed recovery because the parties supporting the recovery might be entities outside of the holder's social network, including businesses.
   * The system remains trustless because no individual can be a Sin

[2022-06-29 00:12] shannona opened #150 "PROJECT: Add table of potential requests to crypto-request doc"
- [ ] Write PR

[2022-06-29 01:28] ChristopherA opened #151 "Advance Research to WIPS"
Advance various bc-research items, UR specs, etc. that have multi-vendor support and implementation to the [WIPS](https://github.com/BlockchainCommons/wips) repo, with the goal of submitting some bitcoin BIPS, IETF  internet-drafts, and W3C specs.

#UR #standards #BIP #IETF #W3C #BIP

[2022-06-29 01:33] ChristopherA opened #152 "Add Blockchain Commons UR QRs cli-apps, etc. to LBTCftCL 3.0"
Leverage our various specs, libraries, reference code, and apps as appropriate in the LBTftCL 3.0 project.

* [ ] Identify early candidates (seedtool-cli and keytool-cli) for teaching how to build it and leverage with bitcoin-core.
* [ ] List other learning opportunities, such as adding functionality to our reference cli apps.

[2022-06-29 01:35] ChristopherA opened #153 "Bitcoin DAO Wallet"
Create a bitcoin multisig wallet that specifially supports the new Wyoming DAO LLC laws, and allows keyholders to vote.

[2022-06-29 01:38] ChristopherA commented on #22
FEATURE REQUEST: I'd really like Spotbit instances to be able to connect via a torgap to a bitcoin-core instance or Esplora for fee estimation. This needs scoping and a separate concrete community project issue.

[2022-06-29 01:49] ChristopherA opened #154 "Update and document apt-get for cli projects"
# Write Debian package build scripts (Ref. #178)
- [x] Make sure all packages conform to the [Debian Policy](https://www.debian.org/doc/debian-policy/index.html).
- [ ] Run `lintian` on every Debian package and fix any warnings or errors
  - [x] Use the correct `COPYRIGHT` and `LICENSE`.

---

## Packages
- [x] bytewords-cli https://github.com/BlockchainCommons/bytewords-cli
  - [x] Update Autocon

[2022-06-29 01:51] ChristopherA opened #155 "PROJECT: Brew macOS and Debian support for all cli projects"
- [x] Merge this with #154, make one project
- [x] List out all subtasks of big merged project

Create brew macOS & Debian Linux (apt-get) script for all Blockchain Commons cli projects.

[2022-06-29 01:56] ChristopherA opened #156 "RESEARCH: Schnorr & JSON-LD"
Explore underspecification of JSON-LD and Schnorr signatures in sep256k1, in particular as related to adapter signatures, non-accountable multisig, etc.

[2022-06-29 04:02] ChristopherA commented on #30
There are some concepts of tagging the lifecycle of releases in https://github.com/unprotocols/rfc that we should talk about, in particular the lifecycles page: https://github.com/unprotocols/rfc/blob/master/2/README.md which has raw vs draft (I agree there is a distinction), retired vs deprecated (bech32 is current retired, but it works, but gordian wallet is deprecated), and delete (I don't thin

[2022-06-29 04:06] ChristopherA commented on #30
Though [this](https://github.com/unprotocols/rfc/blob/master/1/README.md) is likely too detailed, we should have something that serves the same purpose for out, detailing our own development practices. Then we should talk about our recommendations of secure development practices for others in #130 (which may be less than ours for smaller teams, or more than ours for bigger teams).

[2022-06-29 04:06] ChristopherA commented on #130
See https://github.com/BlockchainCommons/Community/issues/30#issuecomment-1169510407

[2022-06-29 15:47] deymow opened #157 "Research on How to Categorise Discussions in Blockchain Commons GitHub Community"
**Blockchain Commons Current Active Categories on GitHub:**
General
Ideas
Q & A

**Suggested GitHub Categories Based on Research**
**Announcements:** For updates and news from project maintainers instead of using the "General" category.
**General:** Used strictly by BlockchainCommons top management to disseminate necessary information to everyone.
**Show and Tell:** For discussing projects still i

[2022-06-29 21:39] shannona opened #158 "PROJECT: Standardized Hardware API for Cryptographic Interoperability"
**The Problem:** as a developer, have to learn the APIs for a number of different hardware devices; as a user, you have the NASCAR problem of a list of providers. Worse, if any individual company changes their API, then everything breaks.

**The Solutions:** Develop a uniform API and architecture with relatively few commands, with capability-discovering  on error that help to answer the hardware a

[2022-06-29 23:03] shannona opened #159 "PROJECT: Gordian System Expansion"
The Gordian System expansion Project focuses on Gordian System improvements for Q3 and Q4 of 2022, meant to offer reference examples for major projects such as #149 and #158, particularly for the usage of `crypto-request` and the automated distribution and recovery of SSKR shares.

-[ ] Release Gordian Coordinator 1.0
-[ ] Update Docs to Support Coordinator 1.0
   -[ ] Produce Coordinator 1.0 Manu

[2022-06-30 01:14] ChristopherA commented on #158
Wish list for architecture:

* ProofPurpose (see [Subtle](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/deriveKey#syntax) and [W3C VC Signature](https://w3c-ccg.github.io/data-integrity-spec/#proof-purposes))

[2022-07-13 16:22] ChristopherA commented on #128
An issue with pubkeys is bitcoin uses 32 byte x-only, but multicodec uses 33-byte. Re: conversion see: https://lists.linuxfoundation.org/pipermail/bitcoin-dev/2022-July/020663.html

[2022-07-14 20:36] simonratner commented on #149
Documenting decision on Shamir vs VSS for future generations: VSS is not baked enough just yet.

[2022-07-14 20:40] simonratner commented on #149
@ChristopherA can you link in the resources section the last draft of `crypto-envelope`, and of `crypto-request` if there are changes in the works from what's currently published?

[2022-07-15 01:06] ChristopherA commented on #149
@wolfmcnally Wolf is working on more concise docs and test vectors for the SSKR crypto-envelopes now.

[2022-07-15 01:08] ChristopherA commented on #149
I've posted Wolf's presentation on `crypto-envelope` as an excerpt from our kickoff call yesterday at https://www.youtube.com/watch?v=3jPJHSAObOM

[2022-07-17 19:24] MayOO-1 commented on #114
May I assist with this project? I am based in west Africa, therefore I can begin my research there before venturing into other jurisdictions.

[2022-07-18 05:19] ChristopherA commented on #114
@collinkinn is leading a project collecting and comparing legal definitions like digital asset, blockchain, digital signature, etc. It would be great to add to that from more countries, even it translated by Google. In particular the francophone legal traditions might be interesting.

[2022-07-18 09:54] wolfmcnally commented on #149
Thank you everyone for your kind reception of my presentation on `crypto-envelope`. I hope you'll take a moment to respond to this small request:

Now that we've opened the conversation about CSR in general and `crypto-envelope` specifically, the main question we at Blockchain Commons have for the community is: how can we help you implement CSR in the most efficient and compatible ways?

In partic

[2022-07-18 19:03] ChristopherA commented on #149
Some feedback that I'm needing from the community (in particular Bitmark & Proxy) on requirements are:

* Do you want us to write a reference library that abstracts everything (in: seed & metadata, out: shares), or a lower-level library where you do it more yourself, or mostly the specs and test vectors as you'll be wanting to write your own libraries?
* If we write a reference library, do you wan

[2022-07-19 14:19] anhnguyenbitmark commented on #149
I want a high-level library that abstracts the most complicated things if it doesn't require many dependencies. To me, the design is lean and I don't need a lower level than that.

I'd prefer as minimal as possible for the library. I think what we will face soon is to support multiple platforms. Finding compatible libraries on the other platform is always a challenge.

[2022-07-22 08:30] ameba23 commented on #149
This looks great! As a social recovery project we would love to see more standards, and we would consider adopting some of these for [our current project](https://gitlab.com/dark-crystal-web3/dark-crystal-web3-design-document).

In case its useful to anyone here, [here is a write up](https://ethresear.ch/t/what-the-ethereum-community-would-like-to-see-in-a-social-recovery-system/12773) of our rece

[2022-07-23 17:29] shikharvashistha commented on #140
Created a pull including the fix and changelog for the commit https://github.com/gitmarek/libbitcoinrpc/pull/2

[2022-08-03 01:15] shannona opened #162 "PROJECT: Create Gordian Architecture Documents"
Creating big-picture documents for Gordian Architecture.

[2022-08-03 01:16] shannona commented on #92
Incorporated into #162.

[2022-08-03 01:16] #92 closed

[2022-08-03 01:16] shannona commented on #93
o #162 Incorporated int

[2022-08-03 01:16] #93 closed

[2022-08-03 01:20] shannona commented on #148
Incorporated into #162

[2022-08-03 01:20] #148 closed

[2022-08-03 13:43] kanzure commented on #144
Why is this closed?

[2022-08-03 15:30] ChristopherA commented on #144
Wasn’t intended to be closed, the silicon salon 1 was to be closed.

[2022-08-03 17:41] ChristopherA commented on #149
What agenda items would you like to discuss in today’s CSR meeting? Any demos of progress to date?

[2022-08-03 18:01] wolfmcnally commented on #149
Since the last CSR meeting I have separated the dependencies necessary for supporting all the `crypto-envelope` functionality into its own new Swift package: [BCSwiftSecureComponents](https://github.com/BlockchainCommons/BCSwiftSecureComponents). This includes many fundamental types, including `UR`, `EncryptedMessage`, `Signature`, `SSKRShare`, `SealedMessage`, `Digest`, and of course, `Envelope`.

[2022-08-03 18:06] wolfmcnally commented on #149
Another new deliverable in the SecureComponents package is [a set of test vectors for `crypto-envelope`](https://github.com/BlockchainCommons/BCSwiftSecureComponents/blob/master/Docs/7-ENVELOPE-TEST-VECTORS.md). Previously I did a set of [test vectors specifically for `crypto-envelope`](https://github.com/BlockchainCommons/BCSwiftSecureComponents/blob/master/Docs/8-ENVELOPE-SSKR-TEST-VECTORS.md) u

[2022-08-03 18:15] wolfmcnally commented on #149
The thing I'm working on right now is a proposal for a command-line tool `envelope` which, like our other command-line tools `seedtool` and `keytool`, demonstrates, exercises, and facilitates the use of Blockchain Commons technologies. I expect the initial draft of this proposal to be ready by the time of our meeting later today and will put the link up here when it is ready for review.

The first

[2022-08-04 00:03] wolfmcnally commented on #149
[Here is the link](https://hackmd.io/@wolfmcnally/SyWqN9Dp5) to the `envelope` CLI tool proposal I mentioned above.

[2022-08-09 21:31] ChristopherA commented on #112
There is a thread starting today on Bitcoin-Lev list BIP-322: https://lists.linuxfoundation.org/pipermail/bitcoin-dev/2022-August/020844.html

[2022-08-13 05:01] ZenulAbidin commented on #112
I'm the author of that post - I also happen to be a C++11 dev. I am willing to help out with a standalone BIP322 C++ implementation.

[2022-08-16 17:29] ChristopherA opened #163 "PROJECT: Bitcoin Bean Count"
A standalone app to use with Esplora to get transactions through a Torgap and to use with Spotbit to get pricing and to create Beancount accounting ledger text output

- [x] Proof of Concept
- [ ] Refactor Out of Spoitbit (rather than being part)
- [ ] Design CLI
- [ ] Test
- [ ] Document

@nochiel

[2022-08-17 12:58] EniRox001 opened #164 "Esplora Redesign and modifications"
### Bitcoin Esplora redesign and modifications
Blockchain Commons Internship Project. Bitcoin Esplora Redesign
The main objective of this project is to redesign and modify the bitcoin esplora website to align with the conventions as defined in [Info Web Conventions](https://github.com/BlockchainCommons/Community/blob/master/web-info-conventions.md)

Roadmap for updates and modifications

- [x] Abo

[2022-08-22 05:57] nochiel commented on #163
This is ready for review: https://github.com/BlockchainCommons/spotbit/pull/78

[2022-08-26 17:37] lord-max commented on #149
I might risk an off topic flag here since you discussing OSS protocol rather than a commercial product, yet FYI [vault12.com](url) had been running an app for number of years now doing exactly *that* with mobile devices as storage nodes. Owner creates a “Vault” out of friends & family phones, and sends them Shamir’s shards of the seed for safekeeping. We have some pieces open sourced already (Abou

[2022-09-06 19:21] shannona commented on #142
Esplora consistency work  in summer 2022 per: https://github.com/BlockchainCommons/esplora

[2022-09-16 23:06] shannona opened #166 "PROJECT: Silicon Salon 3"
Issue tracking tasks associated with Silicon Salon event:

* [x] Seed discussions, kick off plans for event.
* [x] initial sponsors approval (Bunnie Studies, Crossbar, Proxy, Foundation Devices)
* [x] identify blackout dates & choose draft date
   * Blackout: September 20-October 4
   * Draft Date: September 14
* [x] draft of invite to send for additional sponsors (see below)
* [x] shared with add

[2022-10-04 17:44] #144 closed

[2022-10-04 18:52] shannona commented on #145
Dupe. See #108.

[2022-10-04 18:52] #145 closed

[2022-10-04 18:58] shannona commented on #140
Resolved this by repairing old version & having our own copy of it in a repo.

[2022-10-04 18:58] #140 closed

[2022-10-04 19:22] shannona commented on #143
Closing for #39

[2022-10-04 19:22] #143 closed

[2022-10-11 07:19] MayOO-1 commented on #114
Alright sir. Do I message him to get started?

On Mon, 18 Jul 2022, 06:20 Christopher Allen, ***@***.***>
wrote:

[2022-10-13 04:21] ChristopherA commented on #149
Our next CSR call is Thursday October 13th at 6pm PDT, using zoom (contact me on signal for zoom link).

Agenda includes:

* Some new parties joining us for the first time. Introductions and status updates
* @Wolf McNally doing a walk-through of an actual working API for CSR including all message passing done with envelopes.
* Some envelope docs and videos demonstrating elision and Merkle inclusio

[2022-10-18 22:43] real-or-random commented on #71
See https://eprint.iacr.org/2020/1057.pdf

[2022-10-25 18:37] ChristopherA opened #167 "Sysadmin: Monitoring Software"
Add monitoring software for major Blockchain Commons sites.

* [ ] Define Requirements
  * [x] MUST: Support Tor Site availability
  * [x] MUST: Send an email on failures
  * [x] Notifications
    * [- ] ~Send a Signal message on failures.~
      * Signal doesn't have a bot API or accounts that don't require a phone number.
    * [x] Email
* [x] Research choices
  * We'll use [Nagios](https://www.

[2022-11-01 12:56] nochiel opened #168 "SYSADMIN: Upgrade BTCPay to Debian 11"
(Debian 9 moved out of long-term support at the end of June, 2022.)

- [x] Make backup snapshot.
- [x] Upgrade [boot configuration](https://www.linode.com/docs/guides/managing-the-kernel-on-a-linode/) to `GRUB 2`.
- [x] [Upgrade to Debian Stable](https://www.linode.com/docs/guides/upgrade-debian-to-the-newest-release/).
- [x] Restart BTCPay server docker container
  - [x]  Verify [linode is reacha

[2022-11-24 00:59] #168 closed

[2022-11-24 01:01] nochiel opened #169 "BTCPay: Use new descriptor account for 2023"
- [x] Close out old descriptor/account on 12/31/22
- [x] Create a new descriptor (page? just update?) for BTCPay for 1/1/23

[2022-11-24 16:01] nochiel opened #170 "Sysadmin: Monitor Tor Hidden Services using Nagios"
Ref. #167.

Add Tor Hidden Service monitoring for the following servers:
- [x] Opentimestamps
- [x] Wallet Testnet
- [x] Research

[2022-11-24 16:05] #167 closed